
@{
    ViewData["Title"] = "Editar suscripción";
}
@model RetainerSubscription
<h2>Editar suscripción de retainer</h2>
<br />
@if (ViewBag.UpdatedSubscription ?? false)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Suscripción de retainer actualizada exitosamente!</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
    <form asp-action="Edit" asp-controller="RetainerSubscription" role="alert">
        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
            <div class="alert alert-danger alert-dismissible fade show">
                @Html.ValidationSummary(false, "Errores de validación:")
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        }
        <div class="form-row">

            <input type="number" hidden asp-for="@Model.Id" />
            <div class="form-group col-md-5">
                <input type="number" hidden asp-for="@Model.ClientId" />
                <label for="Client_Name">Nombre del cliente:</label>
                <input type="text" readonly value="@Model.Client.Name" class="form-control" aria-label="Nombre del cliente">

            </div>
            <div class="form-group offset-md-1 col-md-5">
                <label for="clientLanguage">Idioma de facturación:</label>
                <input type="text" readonly class="form-control" id="clientLanguage" value="@(Model.Client.BillingInEnglish ?  "Inglés" : "Español")" aria-label="Idioma de facturación" />

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="Retainer_SpanishName">Tipo de retainer:</label>
                <input type="text" readonly asp-for="@Model.RetainerId" class="form-control" aria-label="Id retainer" hidden />
                <input type="text" readonly value="@Model.Retainer.SpanishName" class="form-control" aria-label="Tipo de retainer" />
            </div>
            <div class="form-group offset-md-1 col-md-5">
                <label for="AgreedFee">Honorario acordado (USD)*:</label>

                <input class="form-control" asp-for="@Model.AgreedFee" required type="number" step="0.01" />
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="RetainerSubscription_AgreedHours">Cantidad de horas acordadas*:</label>
                <input type="number" step="0.01" min="0" class="form-control" asp-for="@Model.AgreedHours" />
            </div>
            <div class="form-group offset-md-1 col-md-5">
                <label for="Package_RealizationDate">Costo adicional por hora (USD)*:</label>
                <input type="text" class="form-control" asp-for="@Model.AdditionalFeePerHour" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="Visible">¿Es visible para registro de actividades?</label>
                <input type="checkbox" class="form-control" asp-for="@Model.IsVisibleForActivities" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>

        <br />
    </form>
<br />






