@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambio de contraseña";
}
<h4>Cambio de contraseña</h4>
<form method="post" asp-controller="Account" asp-action="ChangePassword">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="alert alert-danger alert-dismissible fade show">
            @Html.ValidationSummary(false, "Errores de validación:")
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (ViewBag.Updated ?? false)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p>Contraseña actualizada exitosamente!</p>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (ViewBag.PasswordsDontMatch ?? false)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>Las contraseñas nuevas no coinciden, favor revisar.</p>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (ViewBag.OldPasswordDontMatch ?? false)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>Las contraseñas actual ingresada no coincide.</p>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="@Model.PasswordUser.oldPassword">Actual contraseña:*</label>
            <input type="password" asp-for="@Model.PasswordUser.oldPassword" class="form-control" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="@Model.PasswordUser.newPassword">Nueva contraseña:*</label>
            <input type="password" asp-for="@Model.PasswordUser.newPassword" class="form-control" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="@Model.PasswordUser.confirmNewPassword">Confirmar nueva contraseña:*</label>
            <input type="password" asp-for="@Model.PasswordUser.confirmNewPassword" class="form-control" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <button class="btn btn-primary">Actualizar</button>
        </div>
    </div>
</form>