@model AttorneyListViewModel
@{
    ViewData["Title"] = "Administración de usuarios";
}
<h2>Administración de usuarios</h2>
<form asp-action="Admin" method="get" asp-controller="Client">
    <label for="filter">Filtro de búsqueda:</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="filter" value="@Model.CurrentFilter" placeholder="Nombre del abogado, correo electrónico o cédula" aria-label="Nombre del usuario, correo electrónico o cédula" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="submit" id="button-addon2">Buscar</button>
        </div>
    </div>
    <br />
</form>
@if (ViewBag.Updated ?? false)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Abogado actualizado exitosamente!</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (ViewBag.ResetedPassword ?? false)
{
    <div class="alert alert-success alert-dismissible fade show">
        Clave de acceso del abogado reestablecida con éxito
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre del abogado</th>
                <th>Cédula</th>
                <th>Nombre de usuario</th>
                <th>Tipo de usuario</th>
                <th>Código de notario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attorney in Model.Attorneys)
            {
                <tr>
                    <td>@attorney.Name</td>
                    <td>@attorney.IdentificationNumber</td>
                    <td>@attorney.User.Username</td>
                    @if (attorney.User.IsAdmin)
                    {
                        @:<td>Administrador</td>
                    }
                    else
                    {
                        @:<td>Regular</td>
                    }
                    <td>@attorney.NotaryCode</td>
                    <td>

                        <form asp-action="Edit" asp-controller="Attorney" method="get" style="display:inline">
                            <input value="@attorney.Id" name="id" hidden />
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>

                        <form asp-action="ResetPassword" asp-controller="Attorney" method="post" style="display:inline">
                            <input value="@attorney.Id" name="attorneyId" hidden />
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Restaurar contraseña">
                                <i class="fas fa-key"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div page-model="@Model.PagingInfo" page-action="Admin" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-info"
     page-class-selected="btn-info" page-url-filter="@Model.CurrentFilter"
     page-number-url-key="pageNumber"
     class="btn-group float-right m-1">

</div>

