@model NewAttorneyViewModel
@{
    ViewData["Title"] = "Agregar usuario";
}
<script type="text/javascript">
    $(function () {
        $("#admissionDate").datepicker();
        $("#admissionDate").datepicker("option", "dateFormat", "dd/mm/yy");
        var date = new Date();
        var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $("#admissionDate").datepicker("option", {
            maxDate: lastDay
        });
        $("#admissionDate").datepicker("setDate", date);
    });
</script>
<h4>Agregar nuevo usuario abogado</h4>
<br />
@if (ViewBag.AddedAttorney ?? false)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Usuario registrado exitosamente!</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
    <form asp-action="New" asp-controller="Attorney" method="post">
        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            <div class="alert alert-danger alert-dismissible fade show">
                @Html.ValidationSummary(false, "Errores de validación:")
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="@Model.Attorney.Name">Nombre del abogado:*</label>
                <input type="text" asp-for="@Model.Attorney.Name" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="@Model.Attorney.User.Username">Nombre de usuario:*</label>
                <input type="text" asp-for="@Model.Attorney.User.Username" class="form-control" required />
            </div>
            <div class="form-group col-md-3">
                <label for="@Model.Attorney.Alias">Alias:*</label>
                <input type="text" asp-for="@Model.Attorney.Alias" class="form-control" required />
            </div>
            <div class="form-group col-md-3">
                <label for="@Model.Attorney.User.Password">Contraseña:*</label>
                <input type="text" asp-for="@Model.Attorney.User.Password" id="passwordUser" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="@Model.Attorney.User.IsAdmin">Tipo de usuario:*</label>
                <select class="form-control" asp-for="@Model.Attorney.User.IsAdmin">
                    @if (Model.Attorney.User.IsAdmin == true)
                    {
                        <option value="true" selected>Administrador</option>
                        <option value="false">Regular</option>
                    }
                    else
                    {
                        <option value="true">Administrador</option>
                        <option value="false" selected>Regular</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="@Model.Attorney.AdmissionDate">Fecha de admisión:*</label>
                <input type="text" id="admissionDate" asp-for="@Model.Attorney.AdmissionDate" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label for="@Model.Attorney.Address">Dirección:*</label>
                <input type="text" asp-for="@Model.Attorney.Address" class="form-control" required />
            </div>
            <div class="form-group col-md-3">
                <label for="@Model.Attorney.IdentificationNumber">Nº de identificación (cédula):*</label>
                <input type="text" asp-for="@Model.Attorney.IdentificationNumber" class="form-control" required />
            </div>
            <div class="form-group col-md-2">
                <label for="@Model.Attorney.AssignedPhoneNumber">Nº de teléfono asignado:*</label>
                <input type="tel" asp-for="@Model.Attorney.AssignedPhoneNumber" class="form-control" required />
            </div>
            <div class="form-group col-md-2">
                <label for="@Model.Attorney.PersonalPhoneNumber">Nº de teléfono personal:*</label>
                <input type="tel" asp-for="@Model.Attorney.PersonalPhoneNumber" class="form-control" required />
            </div>
            <div class="form-group col-md-3">
                <label for="@Model.Attorney.EmergencyContact">Contacto de emergencia:*</label>
                <input type="text" asp-for="@Model.Attorney.EmergencyContact" class="form-control" required />
            </div>
            <div class="form-group col-md-3">
                <label for="@Model.Attorney.EmergencyContactPhoneNumber">Nº de teléfono del contacto de emergencia:*</label>
                <input type="tel" asp-for="@Model.Attorney.EmergencyContactPhoneNumber" class="form-control" required />
            </div>
            <div class="form-group col-md-2">
                <label for="@Model.Attorney.NotaryCode">Código de notario:*</label>
                <input type="number" asp-for="@Model.Attorney.NotaryCode" class="form-control" required />
            </div>
            <div class="form-group col-md-2">
                <label for="@Model.Attorney.DepartmentId">Departamento:*</label>
                <select class="form-control" asp-for="@Model.Attorney.DepartmentId">
                    @foreach (var d in Model.Departments)
                    {
                        @if (@Model.Attorney.DepartmentId == d.DepartmentId)
                        {
                            @:<option value="@d.DepartmentId" selected>@d.Name</option>
                        }
                        else
                        {
                            @:<option value="@d.DepartmentId">@d.Name</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="@Model.Attorney.Email">Email:*</label>
                <input type="email" asp-for="@Model.Attorney.Email" class="form-control" required />
            </div>
            <div class="form-group col-md-3">
                <label for="Attorney_User_Active">Estado del usuario*:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="@Model.Attorney.User.Active" value="true">
                    <label class="form-check-label" for="Active">
                        Activo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="@Model.Attorney.User.Active" value="false">
                    <label class="form-check-label" for="Active">
                        Inactivo
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Permisos:</label>
                <div class="form-row">
                    <div class="col-5">
                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.Attorney.CanApproveVacations" />
                            <label for="@Model.Attorney.CanApproveVacations">Aprobar vacaciones</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.Attorney.CanPreBill" />
                            <label for="@Model.Attorney.CanPreBill">Prefacturar</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.Attorney.CanBill" />
                            <label for="@Model.Attorney.CanBill">Facturar e Historial</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.Attorney.CanReviewBillDetail" />
                            <label for="@Model.Attorney.CanReviewBillDetail">Revisión de Detalle</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.Attorney.CanAdminDeposits" />
                            <label for="@Model.Attorney.CanAdminDeposits">Abonos</label>
                        </div>
                    </div>
                </div>





            </div>
        </div>

        <div class="form-row">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
