
@{
    ViewData["Title"] = "Editar servicio";
}
@model EditServiceViewModel
<h4>Editar servicio</h4>
<br />
@if (ViewBag.UpdatedService ?? false)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Servicio actualizado exitosamente!</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
<form asp-action="Edit" asp-controller="Service" role="alert">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
        <div class="alert alert-danger alert-dismissible fade show">
            @Html.ValidationSummary(false, "Errores de validación:")
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    }
    <input type="number" asp-for="@Model.Service.Id" value="@Model.Service.Id" hidden />
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Service_Name">Nombre del servicio*:</label>
            <input type="text" step="0.01" min="0" class="form-control" asp-for="@Model.Service.Name" />
        </div>
        <div class="form-group offset-md-1 col-md-5">
            <label for="Service_CategoryId">Categoría*:</label>
            <select class="form-control" asp-for="@Model.Service.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name", Model.Service.CategoryId))" required></select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Service_SpanishDescription">Descripción en Español*:</label>
            <input type="text" class="form-control" asp-for="@Model.Service.SpanishDescription" required spellcheck="true" lang="es" />
        </div>
        <div class="form-group offset-md-1 col-md-5">
            <label for="Service_EnglishDescription">Descripción en Inglés*:</label>
            <input type="text" class="form-control" asp-for="@Model.Service.EnglishDescription" required spellcheck="true" lang="en" />
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Service_Active">Estado*:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Service.Active" value="true">
                <label class="form-check-label" for="Active">
                    Activo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Service.Active" value="false">
                <label class="form-check-label" for="Active">
                    Inactivo
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>

    <br />
</form>
<br />





