@model ClientFormViewModel
<h4>Agregar nuevo cliente</h4>
<br />
@if (ViewBag.AddedClient ?? false)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Cliente registrado exitosamente!</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
<form asp-action="New" asp-controller="Client" role="alert">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
        <div class="alert alert-danger alert-dismissible fade show">
            @Html.ValidationSummary(false, "Errores de validación:")
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    }

    <div class="form-row">

        <div class="form-group  col-md-5">
            <label for="Client_Name">Nombre del cliente*:</label>
            <input type="text" asp-for="@Model.Client.Name" class="form-control" required>
        </div>
        <div class="form-group  offset-md-1 col-md-5">
            <label for="Client_Contact">Contacto (Atención a)*:</label>
            <input type="text" asp-for="@Model.Client.Contact" class="form-control" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group  col-md-5">
            <label for="Client_ContactEmail">Email del contacto:</label>
            <input type="email" asp-for="@Model.Client.ContactEmail" class="form-control">
        </div>
        <div class="form-group  offset-md-1 col-md-5">
            <label for="Client_ContactPhone">Teléfono del contacto:</label>
            <input type="tel" asp-for="@Model.Client.ContactPhone" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group  col-md-5">
            <label for="Client_ContactJobName">Cargo del contacto:</label>
            <input type="text" asp-for="@Model.Client.ContactJobName" class="form-control">
        </div>
        <div class="form-group  offset-md-1 col-md-5">
            <label for="Client_Address">Dirección:</label>
            <input type="text" asp-for="@Model.Client.Address" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group  col-md-5">
            <label for="Client_ContactPhone">Referido por:</label>
            <input type="tel" asp-for="@Model.Client.ReferredBy" class="form-control">
        </div>
        <div class="form-group  offset-md-1 col-md-5">
            <label for="Client_TributaryId">Identificación tributaria*:</label>
            <input type="text" asp-for="@Model.Client.TributaryId" class="form-control" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Client_PhoneNumber">Teléfono del cliente:</label>
            <input type="tel" asp-for="@Model.Client.PhoneNumber" class="form-control">
        </div>
        <div class="form-group  offset-md-1 col-md-5">
            <label for="Client_Fax">Fax del cliente:</label>
            <input type="text" asp-for="@Model.Client.Fax" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Client_CellPhoneNumber">Móvil del cliente:</label>
            <input type="tel" asp-for="@Model.Client.CellPhoneNumber" class="form-control">
        </div>
        <div class="form-group  offset-md-1 col-md-5">
            <label for="Client_Email">Email del cliente:</label>
            <input type="email" asp-for="@Model.Client.Email" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Client_ClientTypeId">Tipo de cliente:</label>
            <select class="form-control" asp-for="@Model.Client.ClientTypeId">
                @foreach (var ct in @Model.ClientTypes)
                {

                    if (ct.ClientTypeId == Model.Client.ClientTypeId)
                    {
                        @:<option value="@ct.ClientTypeId" selected>@ct.Name</option>
                    }
                    else
                    {
                        @:<option value="@ct.ClientTypeId">@ct.Name</option>
                    }

                }
            </select>
        </div>

        <div class="form-group offset-md-1 col-md-5">
            <label for="Client_FixedCostPerHour">Tarifa por hora personalizada (USD):</label>
            <input type="number" step="0.01" min="0" asp-for="@Model.Client.FixedCostPerHour" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Client_BillingModeId">Facturar en:</label>
            <select class="form-control" asp-for="@Model.Client.BillingModeId">
                @foreach (var bm in @Model.BillingModes)
                {

                    if (bm.BillingModeId == Model.Client.BillingModeId)
                    {
                        @:<option value="@bm.BillingModeId" selected>@bm.Name</option>
                    }
                    else
                    {
                        @:<option value="@bm.BillingModeId">@bm.Name</option>
                    }

                }

            </select>
        </div>
        <div class="form-group offset-md-1 col-md-5">
            <label for="Client_DocumentDeliveryMethodId">Enviar documentos vía:</label>
            <select class="form-control" asp-for="@Model.Client.DocumentDeliveryMethodId">
                @foreach (var dm in @Model.DocumentDeliveryMethods)
                {

                    if (dm.DocumentDeliveryMethodId == Model.Client.DocumentDeliveryMethodId)
                    {
                        @:<option value="@dm.DocumentDeliveryMethodId" selected>@dm.Name</option>
                    }
                    else
                    {
                        @:<option value="@dm.DocumentDeliveryMethodId">@dm.Name</option>
                    }

                }

            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Client_IsInternational">Origen del cliente:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Client.IsInternational" value="true" }>
                <label class="form-check-label" for="Client_IsInternational">
                    Internacional
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Client.IsInternational" value="false" }>
                <label class="form-check-label" for="Client_IsInternational">
                    Nacional
                </label>
            </div>
        </div>
        <div class="form-group offset-md-1 col-md-5">
            <label for="Client_PayTaxes">Impuestos:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Client.PayTaxes" value="true" }>
                <label class="form-check-label" for="Client_PayTaxes">
                    Sí
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Client.PayTaxes" value="false" }>
                <label class="form-check-label" for="Client_PayTaxes">
                    No
                </label>
            </div>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Client_BillingInEnglish">Facturación en:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Client.BillingInEnglish" value="true" }>
                <label class="form-check-label" for="Client_IsInternational">
                    Inglés
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="@Model.Client.BillingInEnglish" value="false" }>
                <label class="form-check-label" for="Client_IsInternational">
                    Español
                </label>
            </div>



        </div>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>

    <br />
</form>
<br />