@model ExpenseListViewModel
<h2>Administración de catálogo de gastos</h2>
<form asp-action="Admin" method="get" asp-controller="Expense">
    <label for="filter">Filtro de búsqueda:</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="filter" value="@Model.CurrentFilter" placeholder="Descripción en español o inglés del gasto" aria-label="Descripción en español o inglés del gasto" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="submit" id="button-addon2">Buscar</button>
        </div>
    </div>
</form>
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Monto USD</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.Expenses)
            {
            <tr>
                <td>@expense.Name</td>
                <td>@expense.DisplayName</td>
                <td>@expense.Amount</td>
                <td>@(expense.Active ? "Activo" : "Inactivo")</td>
                <td>
                    <a asp-action="Edit" asp-controller="Expense" asp-route-id="@expense.Id"><i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div page-model="@Model.PagingInfo" page-action="Admin" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-info"
     page-class-selected="btn-info" page-url-filter="@Model.CurrentFilter"
     page-number-url-key="pageNumber"
     class="btn-group float-right m-1">

</div>
