@model RegisterActivityViewModel
@{
    ViewData["Title"] = "Registro de nueva actividad";
    int currentUserId = Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value);
}
<script type="text/javascript">

    $(function ()
    {

        activateSelect2ById('#categories')
        activateSelect2ById('#expenses')
        activateSelect2ById('#items')
        
        if ($("#attorneys").length) {
            $("#attorneys").on('change', function () { 
                var attorneyId = $(this).val();
                var clientId = $("#ClientId").val();
                setTableData(clientId, attorneyId);

            });

        }

        /*$('#services').select2({
            theme: 'bootstrap4',
            width: '100%'
        });*/
        //Para setear idioma inicial
        //$("#Package_Description").prop("lang", $("#IsEnglish").value ? "en" : "es");
        $("div.container-fluid").css("background-color", "#D3D3D3");
        $("div.container-fluid").css("min-height", "94vh");
        $("#activityDate").datepicker();
        $("#activityDate").datepicker("option", "dateFormat", "dd/mm/yy");
        $("#activityDate").datepicker("setDate", new Date());


        @if (!User.IsInRole("Administrador"))
        {
            <text>
                var date = new Date();
                if (date.getDate() <= 10) {
                    var firstDay = new Date(date.getFullYear(), date.getMonth() - 1, 1);
                    var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    $("#activityDate").datepicker("option", {
                        minDate: firstDay,
                        maxDate: lastDay
                    });
                }
                else {
                    var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
                    var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    $("#activityDate").datepicker("option", {
                        minDate: firstDay,
                        maxDate: lastDay
                    });
                }
            </text>
        }
        else {
            <text>
                var date = new Date();
                var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $("#activityDate").datepicker("option", {
                    maxDate: lastDay
                });
            </text>
        }


        $("#clientFilter").autocomplete({
                source: function (request, response) {
                $.ajax({
                        url: "@Url.Action("Search","Client")",
                    type: "GET",
                    data: request,
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                                //console.log(data);
                                response($.map(data, function (item) {
                                    return {
                                    value: item.name,
                                label: item.name,
                                clientName: item.name,
                                clientId: item.id,
                                isEnglish: item.billingInEnglish,
                                feePerHour: item.feePerHour,
                                packages: item.packages,
                                isHourBilled: item.isHourBilled,
                                    }
                                }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                var err = eval("(" + XMLHttpRequest.responseText + ")");
                                alert(err.Message)
                        // console.log("Ajax Error!");
                    }
                        });
                    },
            minLength: 1,
            select: function (event, ui) {
                //$("#Package_ClientId").val(ui.item.clientId);
                $("#activityType").empty().append("<option value='4'>Item</option>");
                $("#activityType").append("<option value='5'>No cobrable</option>");
                $("#ClientId").val(ui.item.clientId);
                var attorneyId = 0;
                if ($("#attorneys").length) {
                    attorneyId = $("#attorneys").val(); 

                }
                setTableData(ui.item.clientId, attorneyId);
                $("#ClientName").val(ui.item.clientName);
                $("#IsEnglish").prop('checked', ui.item.isEnglish);

                $("#IsClientSelected").prop('checked', true);
                $("#FeePerHour").val(ui.item.feePerHour);
                $("#FeePerHour").prop("disabled", false);
                console.log(ui.item.isHourBilled);
                if (ui.item.isHourBilled == "Permite") {
                    console.log("Valida true")
                    $("#isHourlyBilled").prop("checked", true);
                    $("#activityType").append("<option value='1'>Hora</option>")
                }
                else {
                    $("#isHourlyBilled").prop("checked", false);
                }
                $("#clientLanguage").val(ui.item.isEnglish ? "Inglés" : "Español");


                $("#seeClient").attr("data-content", ui.item.clientName + " (" + (ui.item.isEnglish ? "Inglés" : "Español") + ")")


                //For setup of service if selected earlier than the client
                var isEnglish = ui.item.isEnglish;
                var attrSelector = isEnglish ? "data-en-description" : "data-es-description";
                var description = $("#services").find(":selected").attr(attrSelector);
                $("#description").val(description);

                //var list = ui.item.packages;
                var clientId = ui.item.id;
                $.ajax({
                url: "@Url.Action("Search","Package")",
                    type: "GET",
                    data: { clientId: ui.item.clientId },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
                        $.each(data, function (i, item) {
                            var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#Packages").append(options);
                        });
                        if ($("#Packages").children().length > 1) {
                            $("#Packages").prop("disabled", false);
                            $("#activityType").append("<option value='2'>Paquete</option>")
                        } else {
                            $("#Packages").prop("disabled", true);
                        }
                        //console.log(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        alert(err.Message);
                    }
                });
                $.ajax({
                url: "@Url.Action("GetByClientAndDate", "RetainerSubscription")",
                    type: "GET",
                    data: { clientId: ui.item.clientId, date: $("#activityDate").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#retainers").empty().append("<option value=''>Seleccionar retainer</option>").val('null');
                        $.each(data, function (i, item) {
                            //var name = $("#isEnglish").val() ? item.retainerType.englishName : item.retainerType.spanishName;
                            var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#retainers").append(options);

                        });
                        if ($("#retainers").children().length > 1) {
                            $("#retainers").prop("disabled", false);
                            $("#activityType").append("<option value='3'>Retainer</option>")
                        } else {
                            $("#retainers").prop("disabled", true);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //var err = eval("(" + XMLHttpRequest.responseText + ")");
                        //alert(err.Message);
                    }
                });
                $("#clientLanguage").val(ui.item.isEnglish ? "Inglés" : "Español");
                //$("#Packages").prop("disabled", false);
                //$("#retainers").prop("disabled", false);
                $("#activityType").prop("disabled", false);
                $("#description").prop("lang", ui.item.isEnglish ? "en" : "es");
                $("#divItemsPrice").prop("hidden", false);
                $("#labelItemsPrice").prop("hidden", false);
                $("#itemsPrice").prop("hidden", false);
                $("#divItemsQuantity").prop("hidden", false);
                $("#labelItemsQuantity").prop("hidden", false);
                $("#itemsQuantity").prop("hidden", false);
                $("#itemsPrice").prop("disabled", false);
                $("#itemsQuantity").prop("disabled", false);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
                //$("#Package_Description").prop("lang", ui.item.isEnglish ? "en" : "es");


            }

            });
        /*$("#Packages").change(function () {
            if ($("#Packages").val() === "" || $("#Packages").val() === undefined) {
                    $("#retainers").prop("disabled", false);
                    $("#activityType").prop("disabled", false);
                    $("#packageClose").prop("checked", false);
                    $("#packageClose").prop("disabled", true);
                    activateSelect2ById('#items')
                    $("#FeePerHour").prop("disabled", false)
                }
            else {
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
                    $("#retainers").prop("disabled", true);
                    $("#activityType").prop("disabled", true);
                    $("#packageClose").prop("disabled", false);
                disableSelect2ById('#items')

                $("#FeePerHour").prop("disabled", true)
                }
            });
        $("#retainers").change(function () {
            if ($("#retainers").val() === "" || $("#retainers").val() === undefined) {
                $("#Packages").prop("disabled", false);
                $("#activityType").prop("disabled", false);

                $("#FeePerHour").prop("disabled", false)
                    activateSelect2ById('#items')
                }
            else {
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
                $("#FeePerHour").prop("disabled", true)
                $("#Packages").prop("disabled", true);
                $("#activityType").prop("disabled", true);
                    disableSelect2ById('#items')
                }
            });*/
        $("#activityType").change(function () {
            console.log("Entra al metodo")
            if ($("#activityType").val() == 1 && $("#isHourlyBilled").is(":checked")) {
                $("#divFeePerHour").prop("hidden", false);
                $("#labelFeePerHour").prop("hidden", false);
                $("#FeePerHour").prop("disabled", false);
                $("#FeePerHour").prop("hidden", false);
                $("#divPackageClose").prop("hidden", true);
                $("#labelPackageClose").prop("hidden", true);
                $("#packageClose").prop("disabled", true);
                $("#packageClose").prop("hidden", true);
                $("#divPackage").prop("hidden", true);
                $("#labelPackage").prop("hidden", true);
                $("#Packages").prop("disabled", true);
                $("#Packages").prop("hidden", true);
                $("#Packages").val("");
                $("#divRetainers").prop("hidden", true);
                $("#labelRetainers").prop("hidden", true);
                $("#retainers").prop("disabled", true);
                $("#retainers").prop("hidden", true);
                $("#retainers").val("");
                $("#divItemsPrice").prop("hidden", true);
                $("#labelItemsPrice").prop("hidden", true);
                $("#itemsPrice").prop("hidden", true);
                $("#divItemsQuantity").prop("hidden", true);
                $("#labelItemsQuantity").prop("hidden", true);
                $("#itemsQuantity").prop("hidden", true);
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
            }
            else if ($("#activityType").val() == 2) {
                $("#divFeePerHour").prop("hidden", true);
                $("#labelFeePerHour").prop("hidden", true);
                $("#FeePerHour").prop("disabled", true);
                $("#FeePerHour").prop("hidden", true);
                $("#divPackageClose").prop("hidden", false);
                $("#labelPackageClose").prop("hidden", false);
                $("#packageClose").prop("disabled", false);
                $("#packageClose").prop("hidden", false);
                $("#divPackage").prop("hidden", false);
                $("#labelPackage").prop("hidden", false);
                $("#Packages").prop("disabled", false);
                $("#Packages").prop("hidden", false);
                $("#Packages").val("");
                $("#divRetainers").prop("hidden", true);
                $("#labelRetainers").prop("hidden", true);
                $("#retainers").prop("disabled", true);
                $("#retainers").prop("hidden", true);
                $("#retainers").val("");
                $("#divItemsPrice").prop("hidden", true);
                $("#labelItemsPrice").prop("hidden", true);
                $("#itemsPrice").prop("hidden", true);
                $("#divItemsQuantity").prop("hidden", true);
                $("#labelItemsQuantity").prop("hidden", true);
                $("#itemsQuantity").prop("hidden", true);
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
            }
            else if ($("#activityType").val() == 3) {
                $("#divFeePerHour").prop("hidden", true);
                $("#labelFeePerHour").prop("hidden", true);
                $("#FeePerHour").prop("disabled", true);
                $("#FeePerHour").prop("hidden", true);
                $("#divPackageClose").prop("hidden", true);
                $("#labelPackageClose").prop("hidden", true);
                $("#packageClose").prop("disabled", true);
                $("#packageClose").prop("hidden", true);
                $("#divPackage").prop("hidden", true);
                $("#labelPackage").prop("hidden", true);
                $("#Packages").prop("disabled", true);
                $("#Packages").prop("hidden", true);
                $("#Packages").val("");
                $("#divRetainers").prop("hidden", false);
                $("#labelRetainers").prop("hidden", false);
                $("#retainers").prop("disabled", false);
                $("#retainers").prop("hidden", false);
                $("#retainers").val("");
                $("#divItemsPrice").prop("hidden", true);
                $("#labelItemsPrice").prop("hidden", true);
                $("#itemsPrice").prop("hidden", true);
                $("#divItemsQuantity").prop("hidden", true);
                $("#labelItemsQuantity").prop("hidden", true);
                $("#itemsQuantity").prop("hidden", true);
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
            }
            else if ($("#activityType").val() == 4) {
                $("#divFeePerHour").prop("hidden", true);
                $("#labelFeePerHour").prop("hidden", true);
                $("#FeePerHour").prop("disabled", true);
                $("#FeePerHour").prop("hidden", true);
                $("#divPackageClose").prop("hidden", true);
                $("#labelPackageClose").prop("hidden", true);
                $("#packageClose").prop("disabled", true);
                $("#packageClose").prop("hidden", true);
                $("#divPackage").prop("hidden", true);
                $("#labelPackage").prop("hidden", true);
                $("#Packages").prop("disabled", true);
                $("#Packages").prop("hidden", true);
                $("#Packages").val("");
                $("#divRetainers").prop("hidden", true);
                $("#labelRetainers").prop("hidden", true);
                $("#retainers").prop("disabled", true);
                $("#retainers").prop("hidden", true);
                $("#retainers").val("");
                $("#divItemsPrice").prop("hidden", false);
                $("#labelItemsPrice").prop("hidden", false);
                $("#itemsPrice").prop("hidden", false);
                $("#divItemsQuantity").prop("hidden", false);
                $("#labelItemsQuantity").prop("hidden", false);
                $("#itemsQuantity").prop("hidden", false);
                $("#itemsPrice").prop("disabled", false);
                $("#itemsQuantity").prop("disabled", false);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
            }
            else if ($("#activityType").val() == 5) {
                $("#divFeePerHour").prop("hidden", true);
                $("#labelFeePerHour").prop("hidden", true);
                $("#FeePerHour").prop("disabled", true);
                $("#FeePerHour").prop("hidden", true);
                $("#divPackageClose").prop("hidden", true);
                $("#labelPackageClose").prop("hidden", true);
                $("#packageClose").prop("disabled", true);
                $("#packageClose").prop("hidden", true);
                $("#divPackage").prop("hidden", true);
                $("#labelPackage").prop("hidden", true);
                $("#Packages").prop("disabled", true);
                $("#Packages").prop("hidden", true);
                $("#Packages").val("");
                $("#divRetainers").prop("hidden", true);
                $("#labelRetainers").prop("hidden", true);
                $("#retainers").prop("disabled", true);
                $("#retainers").prop("hidden", true);
                $("#retainers").val("");
                $("#divItemsPrice").prop("hidden", true);
                $("#labelItemsPrice").prop("hidden", true);
                $("#itemsPrice").prop("hidden", true);
                $("#divItemsQuantity").prop("hidden", true);
                $("#labelItemsQuantity").prop("hidden", true);
                $("#itemsQuantity").prop("hidden", true);
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
            }
        });
        $("#categories").change(function () {
            if ($("#categories").val() === "" || $("#categories").val() === undefined) {
                $("#services").empty();
                $("#description").val("");
                $("#services").prop("disabled", true);
                disableSelect2ById('#services')
                $("#description").prop("disabled", true);
                }
            else {
                $.ajax({
                    url: "@Url.Action("GetByCategory","Service")",
                    type: "GET",
                    data: { categoryId: $("#categories").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#services").empty().append("<option value=''>Seleccionar servicio</option>").val('null');
                        $.each(data, function (i, item) {
                            var isEnglish = $("#isEnglish").prop('checked');

                                var description = isEnglish ? item.englishDescription : item.spanishDescription;
                                var options = "<option value='" + item.id + "' data-en-description='" + item.englishDescription + "' data-es-description='"+item.spanishDescription+"'>" + item.name + "</option>";
                            $("#services").append(options);
                            });
                        $("#services").prop("disabled", false);
                        activateSelect2ById('#services')

                        }
                    });
                }
            });
        $("#services").change(function () {
            if ($("#services").val() === "" || $("#services").val() === undefined) {
                $("#description").val("");
                $("#description").prop("disabled", true);
                }
            else {
                var isEnglish = $("#isEnglish").prop('checked');
                var attrSelector = isEnglish ? "data-en-description" : "data-es-description";
                var description = $("#services").find(":selected").attr(attrSelector);

                $("#description").val(description);
                $("#description").prop("disabled", false);
                //dismiss the modal
                $("#servicesForm").modal('hide');
                }
            });
        $("#expenses").change(function () {
            if ($("#expenses").val() === "" || $("#expenses").val() === undefined) {
                $("#expensesQuantity").val("");
                $("#expensesPrice").val("");
                $("#expenses").prop("title", "Seleccionar gasto");
                $("#expensesQuantity").prop("disabled", true);
                $("#expensesPrice").prop("disabled", true);
            }
            else {
                var price = $("#expenses").find(":selected").attr("data-amount");
                var isEditable = $("#expenses").find(":selected").attr("data-isReadOnly");
                $("#expensesPrice").val(price);
                if (isEditable === "Editable") {
                    $("#expensesPrice").prop("disabled", false);
                }
                else {
                    console.log("verifica que es false");
                    $("#expensesPrice").prop("disabled", true);
                }
                $("#expensesQuantity").prop("disabled", false);
                }
            });
        $("#btnAddExpense").click(function () {
                if ($("#expenses").val() !== "" && $("#expensesPrice").val() !== "" && $("#expensesQuantity").val() !== "") {
                    var expense = $("#expenses").find(":selected").text();
                    var id = $("#expenses").val();
                    var amount = $("#expensesPrice").val();
                    var quantity = $("#expensesQuantity").val();
                    var row = "<tr><td hidden>" + id + "</td><td>" + expense + "</td><td>" + quantity + "</td><td>" + amount + "</td><td>" + amount * quantity + "</td><td>" +
                        "<a onclick='deleteRow(this)' href='#'><i class='fas fa-trash' data-toggle='tooltip' data-placement='top' title='Borrar'></i></a></td>";
                    $("#tableData").append(row);
                $("#expenses").val("");
                $("#expensesPrice").val("");

                $("#expensesQuantity").val("");
                $("#expensesQuantity").prop("disabled", true);

                $("#expensesPrice").prop("disabled", true);
                    calculateTotalExpenses();
            }
            $("#expenses").prop("title", "Seleccionar gastos")
            });
        $("#btnClear").click(function () {
            $("#Packages").val('');
            $("#retainers").val('');
            $("#activityType").val('');

            /*if ($("#items").children().length > 1) {
                $("#items").prop("disabled", false);
                //activateSelect2ById("#items")
            } else {
                $("#items").prop("disabled", true);
                //disableSelect2ById("#items")
            }*/
            if ($("#retainers").children().length > 1) {
                $("#retainers").prop("disabled", false);
            } else {
                $("#retainers").prop("disabled", true);
            }
            if ($("#Packages").children().length > 1) {
                $("#Packages").prop("disabled", false);
            } else {
                $("#Packages").prop("disabled", true);
            }
            $("#packageClose").prop("checked", false);
            $("#packageClose").prop("disabled", true);
        });
        $("#goTop").click(function (e) {
            var jump = $("#goTop").attr("href");
            var newPosition = $(jump).offset();
            $('html, body').stop().animate({ scrollTop: 0 }, 500);
            5
            e.preventDefault();
            //window.scrollTo(x - coord, y - coord);
        });
        /*if ($("#items").children().length > 1) {
            $("#items").prop("disabled", false);
            activateSelect2ById("#items");
        } else {
            $("#items").prop("disabled", true);
            disableSelect2ById("#items")
        }*/
        $("#btnSubmit").click(function () {
            //var spin = loadingOverlay.activate();
                if (validateData()) {
                    var body = {}
                    body.ClientId = $("#ClientId").val();
                    body.ActivityDate = $("#activityDate").val();
                    body.Description = $("#description").val();
                    body.ServiceId = $("#services").val();
                    body.HoursWorked = $("#hours").val();
                    body.HourlyRate = $("#FeePerHour").val();

                    if ($("#activityType").val() == 1 && $("#isHourlyBilled").is(":checked")) {
                        body.ActivityType = 1;
                        body.HourSubtotal = body.HoursWorked * body.HourlyRate;
                    }
                    else if ($("#activityType").val() == 2 && ($("#Packages").val() !== "" && $("#Packages").val() != undefined)) {
                        console.log("Entro a paquete")
                        body.PackageId = $("#Packages").val();
                        body.ActivityType = 2;
                    }
                    else if ($("#activityType").val() == 3 && ($("#retainers").val() !== "" && $("#retainers").val() != undefined)) {
                        console.log("Entro a retainer")
                        body.BillableRetainerId = $("#retainers").val();
                        body.ActivityType = 3;
                    }
                    else if ($("#activityType").val() == 4 && $("#itemsPrice").val() !== "" && $("#itemsQuantity").val() !== "") {
                        //body.ItemId = $("#items").val();
                        console.log("Entro a item")
                        body.ItemUnitPrice = $("#itemsPrice").val();
                        body.ItemQuantity = $("#itemsQuantity").val();
                        body.ItemSubTotal = body.ItemUnitPrice * body.ItemQuantity;
                        body.ActivityType = 4;
                    }
                    else if ($("#activityType").val() == 5) {
                        body.ActivityType = 5;
                    }
                    else {
                        showError("Debe escoger un elemento a registrar como actividad.")
                        return;
                    }
                    var expenses = [];
                    $('#tableData tr').each(function () {
                        var newExpense = {};
                        var cells = $(this).find("td");
                        newExpense.ExpenseId = cells[0].innerHTML;
                        newExpense.Quantity = cells[2].innerHTML;
                        newExpense.UnitCost = cells[3].innerHTML;
                        newExpense.SubTotal = cells[4].innerHTML;
                        expenses.push(newExpense);
                    });
                    if ($('#attorneys').length) {
                        body.UserId = $('#attorneys').val();
                    }
                    body.Expenses = expenses;
                //Show popup
                var newActivitySpinHandle = loadingOverlay.activate();

                $.ajax({
                    url: "@Url.Action("New","Activity")",
                    type: "POST",
                    data: { body: body, packageClosed: $("#packageClose").prop("checked") },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                            loadingOverlay.cancel(newActivitySpinHandle);
                            if (data.success) {
                                showSuccess(data.message);
                                clean();
                                $("#goTop").click();
                            }
                            else {
                                showError(data.message);
                                $("#goTop").click();
                            }
                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            loadingOverlay.cancel(newActivitySpinHandle);
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
                    });
                }
                else {
                    showError("Debe ingresar los campos requeridos (*)");
                    $("#goTop").click();
            }
            //loadingOverlay.cancel(spin);
        });
        function setTableData(id, attorneyId) {
            $.ajax({
                url: "@Url.Action("GetActivitiesByClient","Activity")",
                type: "GET",
                data: { id: id, attorneyId: attorneyId },
                dataType: "json",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    $("#tableActivities").empty();
                    $.each(data, function (i, item) {
                        var tipo = "";
                        if (item.activityType == 1) {
                            tipo = "Horario";
                        }
                        else if (item.activityType == 2) {
                            tipo = "Paquete";
                        }
                        else if (item.activityType == 3) {
                            tipo = "Retainer";
                        }
                        else if (item.activityType == 4) {
                            tipo = "Item";
                        }
                        else if (item.activityType == 5) {
                            tipo = "No cobrable";
                        }
                        var row = "<tr><td>"+item.description+"</td><td>" + item.serviceName + "</td><td>" + item.hoursWorked + "</td><td>" + tipo + "</td><td>" + item.packageName + "</td><td>" + item.billableRatainerName +
                            "</td><td>" + item.date + "</td></tr>";
                        $("#tableActivities").append(row);
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var err = eval("(" + XMLHttpRequest.responseText + ")");
                    alert(err.Message);
                }
            });
        }
        function showSuccess(message) {
            $("#placeholderSuccess").html('<div class="alert alert-success alert-dismissible fade show">' + message +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
            function showError(message) {
            $("#placeholderError").html('<div class="alert alert-danger alert-dismissible fade show">' + message +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
        $("#activityDate").change(function () {
            if ($("#IsClientSelected").is(":checked")) {
                $("#activityType").empty().append("<option value='4'>Item</option>");
                $("#activityType").append("<option value='5'>No cobrable</option>");
                    var clientId = $("#ClientId").val()
                    $.ajax({
                    url: "@Url.Action("Search","Package")",
                    type: "GET",
                    data: { clientId: clientId },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
                        $.each(data, function (i, item) {
                                var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#Packages").append(options);
                        });
                        if ($("#Packages").children().length > 1) {
                            $("#Packages").prop("disabled", false);
                            $("#activityType").append("<option value='2'>Paquete</option>")
                        } else {
                            $("#Packages").prop("disabled", true);
                        }
                            //console.log(data);
                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
                    });
                $.ajax({
                    url: "@Url.Action("GetByClientAndDate", "RetainerSubscription")",
                    type: "GET",
                    data: { clientId: clientId, date: $("#activityDate").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#retainers").empty().append("<option value=''>Seleccionar gasto</option>").val('null');
                        $.each(data, function (i, item) {
                                var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#retainers").append(options);
                        });

                        if ($("#retainers").children().length > 1) {
                            $("#retainers").prop("disabled", false);
                            $("#activityType").append("<option value='3'>Retainer</option>")
                        } else {
                            $("#retainers").prop("disabled", true);
                        }

                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
                    });
                $("#Packages").prop("disabled", false);
                $("#retainers").prop("disabled", false);
                $("#activityDate").prop("disabled", false);

                }
            })
    });
    function loadCategories() {
        $.ajax({
                    url: "@Url.Action("GetList", "Category")",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#categories").empty().append("<option value=''>Seleccionar categoría</option>").val('null');
                        $.each(data, function (i, item) {
                                var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#categories").append(options);
                        });

                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
                    });
    }
    function loadExpenses() {
        $.ajax({
                    url: "@Url.Action("GetList", "Expense")",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#expenses").empty().append("<option value=''>Seleccionar tipo de gasto</option>").val('null');
                        $.each(data, function (i, item) {
                                var options = "<option value='" + item.id + "' data-amount='"+item.amount+"' data-isReadOnly='"+(item.isReadOnly ? "Editable" : "No Editable")+"' >" + item.name + "</option>";
                            $("#expenses").append(options);
                        });

                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
        });

    }
    
    function activateSelect2ById(id) {
        $(id).select2({
            theme: 'bootstrap4',
            width: '100%'
        });

    }
    function disableSelect2ById(id) {
        $(id).select2('destroy');

    }
    function deleteRow(button) {
        $(button).closest("tr").remove();
        $('tfoot tr td:last-child').html("");
        calculateTotalExpenses();
    }
    function calculateTotalExpenses() {
        //To get the total sum of the <td> that contains each subtotal
        var total = $('#tableData tr td:nth-last-child(2)')
            .map(function () {
                return parseFloat($(this).html());
            })
            .get()
            .reduce(function (total, currentValue) { return total + currentValue; });
        //To set the html content of <td> that contains total
        $('tfoot tr td:last-child').html(total);
    }
    function validateData() {
        if ($("#IsClientSelected").is(":checked") && $("#ClientId").val() !== "" && $("#activityDate").val() !== ""
            && $("#description").val() !== "" && $("#services").val() !== "" && $("#hours").val() !== "" && $("#FeePerHour").val() !== "") {
            return true;
        }
        else {
            alert("Campos incompletos")
            return false;
        }
    }
    function clean() {
        $("#ClientId").val("");
        $("#isEnglish").prop("checked", false);
        $("#IsClientSelected").prop("checked", false);
        $("#activityDate").val("");
        $("#activityDate").datepicker("setDate", new Date());
        $("#clientFilter").val("");
        $("#ClientName").val("");
        $("#clientLanguage").val("")
        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
        $("#retainers").empty().append("<option value=''>Seleccionar retainer</option>").val('null');
        //TODO in a future refresh the items list
        $("#activityType").empty().append("<option value='4'>Item</option>");
        $("#activityType").append("<option value='5'>No cobrable</option>");
        $("#activityType").prop("disabled", true);
        activateSelect2ById('#items')
        $("#itemsPrice").val("");
        $("#itemsQuantity").val("");
        $("#hours").val("");
        $("#FeePerHour").val("");
        //TODO in a future refresh the categories in the list
        $("#categories").val("");
        $("#categories").prop("title", "Seleccionar categoría")
        $("#services").empty().append("<option value=''>Seleccionar servicio</option>").val('null');
        disableSelect2ById('#services')
        $("#services").prop("disabled", true);
        $("#description").val("");
        $("#expenses").val("");
        $("#expensesQuantity").val("");
        $("#expensesPrice").val("");
        $('#tableData tr').each(function () {
            $(this).remove();
        });
        $("#expenses").prop("title", "Seleccionar gastos")
        $('#expensesTable tfoot tr td:last-child').html("");
        $("#Packages").prop("disabled", true);
        $("#retainers").prop("disabled", true);
        $("#items").prop("disabled", false);
        $("#itemsPrice").prop("disabled", false);
        $("#itemsQuantity").prop("disabled", false);
        $("#packageClose").prop("checked", false);
        $("#packageClose").prop("disabled", true);
        $("#labelFeePerHour").prop("hidden", true);
        $("#divFeePerHour").prop("hidden", true);
        $("#labelFeePerHour").prop("hidden", true);
        $("#FeePerHour").prop("disabled", true);
        $("#FeePerHour").prop("hidden", true);
        $("#divPackageClose").prop("hidden", true);
        $("#labelPackageClose").prop("hidden", true);
        $("#packageClose").prop("disabled", true);
        $("#packageClose").prop("hidden", true);
        $("#divPackage").prop("hidden", true);
        $("#labelPackage").prop("hidden", true);
        $("#Packages").prop("disabled", true);
        $("#Packages").prop("hidden", true);
        $("#Packages").val("");
        $("#divRetainers").prop("hidden", true);
        $("#labelRetainers").prop("hidden", true);
        $("#retainers").prop("disabled", true);
        $("#retainers").prop("hidden", true);
        $("#retainers").val("");
        $("#divItemsPrice").prop("hidden", true);
        $("#labelItemsPrice").prop("hidden", true);
        $("#itemsPrice").prop("hidden", true);
        $("#divItemsQuantity").prop("hidden", true);
        $("#labelItemsQuantity").prop("hidden", true);
        $("#itemsQuantity").prop("hidden", true);
        $("#itemsPrice").prop("disabled", true);
        $("#itemsQuantity").prop("disabled", true);
        $("#itemsPrice").val("");
        $("#itemsQuantity").val("");
        $("#tableActivities").empty();
        loadExpenses();
        loadCategories();
    }
</script>

<div class="container-fluid" style="width:100%">
    <form>
        <input type="number" hidden asp-for="@Model.ClientId" id="ClientId" />
        <input type="checkbox" asp-for="@Model.IsEnglish" id="isEnglish" hidden />
        <input type="checkbox" hidden asp-for="@Model.IsClientSelected" id="IsClientSelected" />
        <input type="checkbox" hidden id="isHourlyBilled" />
        <input type="checkbox" hidden id="IsAdmin" />
        <div id="placeholderSuccess" tabindex="">

        </div>
        <div id="placeholderError">

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row rounded" style="margin-top:10px; background-color:white">
                    <div class="col-md-12">
                        <div class="form-row" style="margin-top:10px">
                            @if (User.IsInRole("Administrador"))
                            {


                                <div class="form-group col-md-4">
                                    <label for="attorneys">Abogado:</label>
                                    <select id="attorneys" class="form-control form-control-sm">
                                        @foreach (var a in Model.Attorneys)
                                        {
                                            if (a.UserId == currentUserId)
                                            {
                                                <option value="@a.UserId" selected>@a.AttorneyName</option>

                                            }
                                            else
                                            {
                                                <option value="@a.UserId">@a.AttorneyName</option>

                                            }

                                        }
                                    </select>
                                </div>
                            }
                            <div class="form-group col-md-2">
                                <label for="activityDate">Fecha:*</label>
                                <input type="text" id="activityDate" autocomplete="off" class="form-control form-control-sm" placeholder="Fecha" aria-label="Fecha del registro" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="clientFilter">Búsqueda del cliente:*</label>
                                <input type="text" id="clientFilter" class="form-control form-control-sm" placeholder="Búsqueda del cliente" aria-label="Búsqueda del cliente" />
                            </div>
                            <div class="form-group col-md-1" style="margin-top:32px;">
                                <label for="clientFilter">Selección:</label>
                                <a href="#" id="seeClient" class="btn btn-primary btn-sm" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Cliente seleccionado" data-content="">Ver</a>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top:10px">

                        </div>
                        <div class="form-row" style="margin-top:10px" hidden>
                            <div class="form-group col-md-5">
                                <label for="ClientName">Nombre del cliente:</label>
                                <input type="text" readonly asp-for="@Model.ClientName" class="form-control form-control-sm" aria-label="Nombre del cliente" />
                            </div>
                            <div class="form-group offset-md-1  col-md-5">
                                <label for="clientName">Idioma de facturación:</label>
                                <input type="text" readonly id="clientLanguage" value="@(Model.IsClientSelected ? ((Model.IsEnglish) ? "Inglés" : "Español"): "")" class="form-control form-control-sm" aria-label="Idioma de facturación" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rounded" style="margin-top:10px;background-color:white">
                    <div class="col-md-12">
                        <div class="form-row" style="margin-top:10px">
                            <div class="form-group col-md-4">
                                <label for="activityType">Tipo de actividad:</label>
                                <select id="activityType" class="form-control form-control-sm" disabled></select>
                            </div>
                            <div class="form-group col-md-3" id="divPackage" hidden>
                                <label id="labelPackage" for="Packages" hidden>Paquetes disponibles:</label>
                                <select class="form-control form-control-sm" id="Packages" disabled hidden></select>
                            </div>
                            <div class="form-group col-md-1" id="divPackageClose" hidden>
                                <label id="labelPackageClose" for="packageClose" hidden>¿Cerrar?</label>
                                <input type="checkbox" class="form-control form-control-sm text-left" id="packageClose" disabled hidden />
                            </div>
                            <div class="form-group col-md-4" id="divRetainers" hidden>
                                <label id="labelRetainers" for="retainers" hidden>Retainers:</label>
                                <select id="retainers" class="form-control form-control-sm" disabled hidden></select>
                            </div>
                            <div class="form-group col-md-2" id="divItemsPrice" hidden>
                                <label id="labelItemsPrice" for="itemsPrice" hidden>Precio del ítem (USD): </label>
                                <input type="text" class="form-control form-control-sm" id="itemsPrice" disabled hidden />
                            </div>
                            <div class="form-group col-md-2" id="divItemsQuantity" hidden>
                                <label id="labelItemsQuantity" for="itemsQuantity" hidden>Cantidad:</label>
                                <input type="number" class="form-control form-control-sm" id="itemsQuantity" disabled hidden />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="hours">Horas:*</label>
                                <input type="number" class="form-control form-control-sm" id="hours" />
                            </div>
                            <div class="form-group col-md-2" id="divFeePerHour" hidden>
                                <label id="labelFeePerHour" for="FeePerHour" hidden>Precio por hora (USD):</label>
                                <input type="text" asp-for="@Model.FeePerHour" class="form-control form-control-sm" id="FeePerHour" disabled hidden />
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row rounded" style="margin-top:10px; background-color:white">
                    <div class="col-md-12" style="margin-top:10px">
                        <div class="form-row">
                            <div class="form-group col-2" style="margin-top:40px;">
                                <label for="description">&nbsp;</label>
                                <button type="button" id="selectService" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#servicesForm">Seleccionar servicio</button>
                            </div>

                            <div class="form-group col-10">
                                <label for="description">Descripción:*</label>
                                <textarea id="description" class="form-control form-control-sm" spellcheck="true" lang="es" disabled></textarea>
                            </div>
                        </div>
                        <!--Modal begin for services-->
                        <!-- Modal -->
                        <div class="modal fade" id="servicesForm" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <!--Content-->
                                <div class="modal-content form-elegant">
                                    <!--Header-->
                                    <div class="modal-header text-center">
                                        <h3 class="modal-title dark-grey-text font-weight-bold my-3" id="serviceModalLabel"><strong>Selección de servicio</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body mx-4">
                                        <div class="form-row" style="margin-top:10px">
                                            <div class="form-group col-md-5">
                                                <label for="categories">Categoría:*</label>
                                                <select id="categories" class="form-control form-control-sm" style="background-color:white">
                                                    <option value="">Seleccionar categoría</option>
                                                    @foreach (var c in Model.Categories)
                                                    {
                                                        <option value="@c.Id">@c.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group offset-md-1  col-md-5">
                                                <label for="services">Servicio:*</label>
                                                <select id="services" class="form-control form-control-sm" disabled></select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        @*<div class="form-row" style="margin-top:10px">
                                <div class="form-group col-md-5">
                                    <label for="categories">Categoría:*</label>
                                    <select id="categories" class="form-control form-control-sm" style="background-color:white">
                                        <option value="">Seleccionar categoría</option>
                                        @foreach (var c in Model.Categories)
                                        {
                                            <option value="@c.Id">@c.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group offset-md-1  col-md-5">
                                    <label for="services">Servicios:*</label>
                                    <select id="services" class="form-control form-control-sm" disabled></select>
                                </div>
                            </div>*@
                        @*<div class="form-row">
                                <div class="form-group col-md-11">
                                    <label for="description">Descripción:*</label>
                                    <textarea id="description" class="form-control form-control-sm" spellcheck="true" lang="es" disabled></textarea>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="row rounded" style="margin-top:10px;margin-bottom:10px; background-color:white">
                    <div class="col-md-12">
                        <div class="form-row" style="margin-top:10px">
                            <div class="form-group col-md-4">
                                <label for="expenses">Gastos:*</label>
                                <select id="expenses" class="form-control form-control-sm">
                                    <option data-amount="" value="">Seleccionar gasto</option>
                                    @foreach (var e in Model.Expenses)
                                    {
                                        <option data-amount="@e.Amount" data-isReadOnly="@(e.IsReadOnly ? "Editable" : "No Editable")" value="@e.Id">@e.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="expensesQuantity">Cantidad:*</label>
                                <input type="number" class="form-control form-control-sm" id="expensesQuantity" disabled />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="expensesPrice">Monto (USD):*</label>
                                <input type="text" class="form-control form-control-sm" id="expensesPrice" disabled />
                            </div>
                            <div class="form-group col-md-1">
                                <button class="btn btn-primary btn-sm" style="margin-top:30px" id="btnAddExpense" type="button">Agregar</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <a href="#" id="seeExpenses" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#elegantModalForm">Ver gastos incluidos</a>
                            </div>
                            <div class="form-group col-md-5">
                                <button class="btn btn-primary btn-sm" id="btnSubmit" type="button">Registrar actividad</button>
                            </div>
                            <a href="#placeholderSuccess" id="goTop" hidden></a>
                        </div>
                        <!--Modal begin-->
                        <!-- Modal -->
                        <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <!--Content-->
                                <div class="modal-content form-elegant">
                                    <!--Header-->
                                    <div class="modal-header text-center">
                                        <h3 class="modal-title dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Gastos de la actividad</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body mx-4">
                                        <!--Body-->
                                        <div id="containerTable" class="form-row table-responsive">
                                            <table id="expensesTable" class="table table-sm table-stribed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th hidden>ID</th>
                                                        <th>Gasto</th>
                                                        <th>Cantidad</th>
                                                        <th>Monto</th>
                                                        <th>Subtotal</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableData"></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="4" class="text-right">Total (USD):</td>
                                                        <td class="text-right"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <!-- Modal -->
                        @*<div id="containerTable" class="form-row table-responsive">
                                <table id="expensesTable" class="table table-stribed table-bordered">
                                    <thead>
                                        <tr>
                                            <th hidden>ID</th>
                                            <th>Gasto</th>
                                            <th>Cantidad</th>
                                            <th>Monto</th>
                                            <th>Subtotal</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableData"></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4" class="text-right">Total (USD):</td>
                                            <td class="text-right"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>*@
                        @*<div class="form-row" style="margin-bottom:10px">

                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row rounded" style="margin-top:10px; background-color:white">
        <div style="margin-top:10px">
            <h4 class="text-center text-secondary">Últimas actividades registradas para este cliente</h4>
        </div>
        <div class="table-responsive" style="margin-top:10px;">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Servicio</th>
                        <th>Horas</th>
                        <th>Tipo de actividad</th>
                        <th>Paquete</th>
                        <th>Retainer</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody id="tableActivities"></tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#seeClient').popover({
                container: 'body'
            });

        });

    </script>
</div>
