@model RegisterActivityViewModel
@{
    ViewData["Title"] = "Registro de nueva actividad";
    int currentUserId = Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value);
}
<script type="text/javascript">

    $(function ()
    {
        
        activateSelect2ById('#categories')
        activateSelect2ById('#expenses')
        activateSelect2ById('#items')
        

        /*$('#services').select2({
            theme: 'bootstrap4',
            width: '100%'
        });*/
        //Para setear idioma inicial
        //$("#Package_Description").prop("lang", $("#IsEnglish").value ? "en" : "es");
        $("div.container-fluid").css("background-color", "#D3D3D3");
        $("#activityDate").datepicker();
        $("#activityDate").datepicker("option", "dateFormat", "dd/mm/yy");
        $("#activityDate").datepicker("setDate", new Date());

        
        @if (!User.IsInRole("Administrador"))
        {
            <text>
                var date = new Date();
                if (date.getDate() <= 10) {
                    var firstDay = new Date(date.getFullYear(), date.getMonth() - 1, 1);
                    var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    $("#activityDate").datepicker("option", {
                        minDate: firstDay,
                        maxDate: lastDay
                    });
                }
                else {
                    var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
                    var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    $("#activityDate").datepicker("option", {
                        minDate: firstDay,
                        maxDate: lastDay
                    });
                }
            </text>
        }
        else {
            <text>
                var date = new Date();
                var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $("#activityDate").datepicker("option", {
                    maxDate: lastDay
                });
            </text>
        }


        $("#clientFilter").autocomplete({
                source: function (request, response) {
                $.ajax({
                        url: "@Url.Action("Search","Client")",
                    type: "GET",
                    data: request,
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                                //console.log(data);
                                response($.map(data, function (item) {
                                    return {
                                    value: item.name,
                                label: item.name,
                                clientName: item.name,
                                clientId: item.id,
                                isEnglish: item.billingInEnglish,
                                feePerHour: item.feePerHour,
                                packages: item.packages
                                    }
                                }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                var err = eval("(" + XMLHttpRequest.responseText + ")");
                                alert(err.Message)
                        // console.log("Ajax Error!");
                    }
                        });
                    },
            minLength: 1,
            select: function (event, ui) {
                //$("#Package_ClientId").val(ui.item.clientId);
                $("#ClientId").val(ui.item.clientId);
                $("#ClientName").val(ui.item.clientName);
                $("#IsEnglish").prop('checked', ui.item.isEnglish);

                $("#IsClientSelected").prop('checked', true);
                $("#FeePerHour").val(ui.item.feePerHour);
                $("#FeePerHour").prop("disabled", false);
                $("#clientLanguage").val(ui.item.isEnglish ? "Inglés" : "Español");
                
                $("#seeClient").attr("data-content", ui.item.clientName + " (" + (ui.item.isEnglish ? "Inglés" : "Español") + ")")
                
                //var list = ui.item.packages;
                var clientId = ui.item.id;
                $.ajax({
                url: "@Url.Action("Search","Package")",
                    type: "GET",
                    data: { clientId: ui.item.clientId },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
                        $.each(data, function (i, item) {
                            var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#Packages").append(options);
                        });
                        if ($("#Packages").children().length > 1) {
                            $("#Packages").prop("disabled", false);
                        } else {
                            $("#Packages").prop("disabled", true);
                        }
                        //console.log(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        alert(err.Message);
                    }
                });
                console.log($("#activityDate").val());
                $.ajax({
                url: "@Url.Action("GetByClientAndDate", "RetainerSubscription")",
                    type: "GET",
                    data: { clientId: ui.item.clientId, date: $("#activityDate").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#retainers").empty().append("<option value=''>Seleccionar retainer</option>").val('null');
                        $.each(data, function (i, item) {
                            //var name = $("#isEnglish").val() ? item.retainerType.englishName : item.retainerType.spanishName;
                            var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#retainers").append(options);

                        });
                        if ($("#retainers").children().length > 1) {
                            $("#retainers").prop("disabled", false);
                        } else {
                            $("#retainers").prop("disabled", true);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //var err = eval("(" + XMLHttpRequest.responseText + ")");
                        //alert(err.Message);
                    }
                });
                $("#clientLanguage").val(ui.item.isEnglish ? "Inglés" : "Español");
                $("#Packages").prop("disabled", false);
                $("#retainers").prop("disabled", false);
                $("#items").prop("disabled", false);
                $("#description").prop("lang", ui.item.isEnglish ? "en" : "es");
                //$("#Package_Description").prop("lang", ui.item.isEnglish ? "en" : "es");


            }

            });
        $("#Packages").change(function () {
            if ($("#Packages").val() === "" || $("#Packages").val() === undefined) {
                    $("#retainers").prop("disabled", false);
                    $("#items").prop("disabled", false);
                    $("#packageClose").prop("checked", false);
                    $("#packageClose").prop("disabled", true);
                    activateSelect2ById('#items')
                    $("#FeePerHour").prop("disabled", false)
                }
            else {
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
                    $("#retainers").prop("disabled", true);
                    $("#items").prop("disabled", true);
                    $("#packageClose").prop("disabled", false);
                disableSelect2ById('#items')

                $("#FeePerHour").prop("disabled", true)
                }
            });
        $("#retainers").change(function () {
            if ($("#retainers").val() === "" || $("#retainers").val() === undefined) {
                $("#Packages").prop("disabled", false);
                $("#items").prop("disabled", false);

                $("#FeePerHour").prop("disabled", false)
                    activateSelect2ById('#items')
                }
            else {
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
                $("#FeePerHour").prop("disabled", true)
                $("#Packages").prop("disabled", true);
                    $("#items").prop("disabled", true);
                    disableSelect2ById('#items')
                }
            });
        $("#items").change(function () {
            if ($("#items").val() === "" || $("#items").val() === undefined) {
                $("#Packages").prop("disabled", false);
                $("#retainers").prop("disabled", false);
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
                $("#FeePerHour").prop("disabled", false)
                }
            else {

                $("#FeePerHour").prop("disabled", true)
                $("#Packages").prop("disabled", true);
                $("#retainers").prop("disabled", true);
                $("#itemsPrice").prop("disabled", false);
                $("#itemsQuantity").prop("disabled", false);
                    var price = $("#items").find(":selected").attr("data-price");
                $("#itemsPrice").val(price);
                }
            });
        $("#categories").change(function () {
            if ($("#categories").val() === "" || $("#categories").val() === undefined) {
                $("#services").empty();
                $("#description").val("");
                $("#services").prop("disabled", true);
                disableSelect2ById('#services')
                $("#description").prop("disabled", true);
                }
            else {
                $.ajax({
                    url: "@Url.Action("GetByCategory","Service")",
                    type: "GET",
                    data: { categoryId: $("#categories").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#services").empty().append("<option value=''>Seleccionar servicio</option>").val('null');
                        $.each(data, function (i, item) {
                                var isEnglish = $("#isEnglish").val();
                                var description = isEnglish ? item.englishDescription : item.spanishDescription;
                                var options = "<option value='" + item.id + "' data-description='" + description + "'>" + item.name + "</option>";
                            $("#services").append(options);
                            });
                        $("#services").prop("disabled", false);
                        activateSelect2ById('#services')

                        }
                    });
                }
            });
        $("#services").change(function () {
            if ($("#services").val() === "" || $("#services").val() === undefined) {
                $("#description").val("");
                $("#description").prop("disabled", true);
                }
            else {
                    var description = $("#services").find(":selected").attr("data-description");
                $("#description").val(description);
                $("#description").prop("disabled", false);
                }
            });
        $("#expenses").change(function () {
            if ($("#expenses").val() === "" || $("#expenses").val() === undefined) {
                $("#expensesQuantity").val("");
                $("#expensesPrice").val("");
                $("#expenses").prop("title", "Seleccionar gasto");
                $("#expensesQuantity").prop("disabled", true);
                $("#expensesPrice").prop("disabled", true);
                }
            else {
                    var price = $("#expenses").find(":selected").attr("data-amount");
                $("#expensesPrice").val(price);
                $("#expensesPrice").prop("disabled", false);
                $("#expensesQuantity").prop("disabled", false);
                }
            });
        $("#btnAddExpense").click(function () {
                if ($("#expenses").val() !== "" && $("#expensesPrice").val() !== "" && $("#expensesQuantity").val() !== "") {
                    var expense = $("#expenses").find(":selected").text();
                    var id = $("#expenses").val();
                    var amount = $("#expensesPrice").val();
                    var quantity = $("#expensesQuantity").val();
                    var row = "<tr><td hidden>" + id + "</td><td>" + expense + "</td><td>" + quantity + "</td><td>" + amount + "</td><td>" + amount * quantity + "</td><td>" +
                        "<a onclick='deleteRow(this)' href='#'><i class='fas fa-trash' data-toggle='tooltip' data-placement='top' title='Borrar'></i></a></td>";
                    $("#tableData").append(row);
                $("#expenses").val("");
                $("#expensesPrice").val("");

                $("#expensesQuantity").val("");
                $("#expensesQuantity").prop("disabled", true);
                   
                $("#expensesPrice").prop("disabled", true);
                    calculateTotalExpenses();
            }
            $("#expenses").prop("title", "Seleccionar gastos")
            });
        $("#btnClear").click(function () {
            $("#Packages").val('');
            $("#retainers").val('');
            $("#items").val('');

            if ($("#items").children().length > 1) {
                $("#items").prop("disabled", false);
                activateSelect2ById("#items")
            } else {
                $("#items").prop("disabled", true);
                disableSelect2ById("#items")
            }
            if ($("#retainers").children().length > 1) {
                $("#retainers").prop("disabled", false);
            } else {
                $("#retainers").prop("disabled", true);
            }
            if ($("#Packages").children().length > 1) {
                $("#Packages").prop("disabled", false);
            } else {
                $("#Packages").prop("disabled", true);
            }
            $("#packageClose").prop("checked", false);
            $("#packageClose").prop("disabled", true);
        });
        $("#goTop").click(function (e) {
            var jump = $("#goTop").attr("href");
            var newPosition = $(jump).offset();
            $('html, body').stop().animate({ scrollTop: 0 }, 500);
            5
            e.preventDefault();
            //window.scrollTo(x - coord, y - coord);
        });
        if ($("#items").children().length > 1) {
            $("#items").prop("disabled", false);
            activateSelect2ById("#items");
        } else {
            $("#items").prop("disabled", true);
            disableSelect2ById("#items")
        }
        $("#btnSubmit").click(function () {
            //var spin = loadingOverlay.activate();
                if (validateData()) {
                    var body = {}
                    body.ClientId = $("#ClientId").val();
                    body.ActivityDate = $("#activityDate").val();
                    body.Description = $("#description").val();
                    body.ServiceId = $("#services").val();
                    body.HoursWorked = $("#hours").val();
                    body.HourlyRate = $("#FeePerHour").val();
                    
                    if ($("#Packages").val() !== "" && $("#Packages").val() != undefined) {
                        console.log("Entro a paquete")
                        body.PackageId = $("#Packages").val();
                        body.ActivityType = 2;
                    }
                    else if ($("#retainers").val() !== "" && $("#retainers").val() != undefined) {
                        console.log("Entro a retainer")
                        body.BillableRetainerId = $("#retainers").val();
                        body.ActivityType = 3;
                    }
                    else if ($("#items").val() !== "" && $("#items").val() != undefined) {
                        body.ItemId = $("#items").val();
                        console.log("Entro a item")
                        body.ItemUnitPrice = $("#itemsPrice").val();
                        body.ItemQuantity = $("#itemsQuantity").val();
                        body.ItemSubTotal = body.ItemUnitPrice * body.ItemQuantity;
                        body.ActivityType = 4;
                    }
                    else {
                        console.log("Entro a horas")
                        body.ActivityType = 1;
                        body.HourSubtotal = body.HoursWorked * body.HourlyRate;
                    }
                    var expenses = [];
                    $('#tableData tr').each(function () {
                        var newExpense = {};
                        var cells = $(this).find("td");
                        newExpense.ExpenseId = cells[0].innerHTML;
                        newExpense.Quantity = cells[2].innerHTML;
                        newExpense.UnitCost = cells[3].innerHTML;
                        newExpense.SubTotal = cells[4].innerHTML;
                        expenses.push(newExpense);
                    });
                    if ($('#attorneys').length) {
                        body.UserId = $('#attorneys').val();
                    }
                    body.Expenses = expenses;
                //Show popup
                var newActivitySpinHandle = loadingOverlay.activate();
                    
                $.ajax({
                    url: "@Url.Action("New","Activity")",
                    type: "POST",
                    data: { body: body, packageClosed: $("#packageClose").prop("checked") },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                            loadingOverlay.cancel(newActivitySpinHandle);
                            if (data.success) {
                                showSuccess(data.message);
                                clean();
                                $("#goTop").click();
                            }
                            else {
                                showError(data.message);
                                $("#goTop").click();
                            }
                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            loadingOverlay.cancel(newActivitySpinHandle);
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
                    });
                }
                else {
                    showError("Debe ingresar los campos requeridos (*)");
                    $("#goTop").click();
            }
            //loadingOverlay.cancel(spin);
            });
        function showSuccess(message) {
            $("#placeholderSuccess").html('<div class="alert alert-success alert-dismissible fade show">' + message +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
            function showError(message) {
            $("#placeholderError").html('<div class="alert alert-danger alert-dismissible fade show">' + message +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
        $("#activityDate").change(function () {
                if ($("#IsClientSelected").is(":checked")) {
                    var clientId = $("#ClientId").val()
                    $.ajax({
                    url: "@Url.Action("Search","Package")",
                    type: "GET",
                    data: { clientId: clientId },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
                        $.each(data, function (i, item) {
                                var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#Packages").append(options);
                        });
                        if ($("#Packages").children().length > 1) {
                            $("#Packages").prop("disabled", false);
                        } else {
                            $("#Packages").prop("disabled", true);
                        }
                            //console.log(data);
                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
                    });
                $.ajax({
                    url: "@Url.Action("GetByClientAndDate", "RetainerSubscription")",
                    type: "GET",
                    data: { clientId: clientId, date: $("#activityDate").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#retainers").empty().append("<option value=''>Seleccionar retainer</option>").val('null');
                        $.each(data, function (i, item) {
                                var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#retainers").append(options);
                        });

                        if ($("#retainers").children().length > 1) {
                            $("#retainers").prop("disabled", false);
                        } else {
                            $("#retainers").prop("disabled", true);
                        }

                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message);
                        }
                    });
                $("#Packages").prop("disabled", false);
                $("#retainers").prop("disabled", false);
                $("#items").prop("disabled", false);

                }
            })
    });
    function activateSelect2ById(id) {
        $(id).select2({
            theme: 'bootstrap4',
            width: '100%'
        });

    }
    function disableSelect2ById(id) {
        $(id).select2('destroy');

    }
    function deleteRow(button) {
        $(button).closest("tr").remove();
        $('tfoot tr td:last-child').html("");
        calculateTotalExpenses();
    }
    function calculateTotalExpenses() {
        //To get the total sum of the <td> that contains each subtotal
        var total = $('#tableData tr td:nth-last-child(2)')
            .map(function () {
                return parseFloat($(this).html());
            })
            .get()
            .reduce(function (total, currentValue) { return total + currentValue; });
        //To set the html content of <td> that contains total
        $('tfoot tr td:last-child').html(total);
    }
    function validateData() {
        if ($("#IsClientSelected").is(":checked") && $("#ClientId").val() !== "" && $("#activityDate").val() !== ""
            && $("#description").val() !== "" && $("#services").val() !== "" && $("#hours").val() !== "" && $("#FeePerHour").val() !== "") {
            return true;
        }
        else {
            alert("Campos incompletos")
            return false;
        }
    }
    function clean() {
        $("#ClientId").val("");
        $("#isEnglish").prop("checked", false);
        $("#IsClientSelected").prop("checked", false);
        $("#activityDate").val("");
        $("#activityDate").datepicker("setDate", new Date());
        $("#clientFilter").val("");
        $("#ClientName").val("");
        $("#clientLanguage").val("")
        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
        $("#retainers").empty().append("<option value=''>Seleccionar retainer</option>").val('null');
        //TODO in a future refresh the items list
        $("#items").val("");
        activateSelect2ById('#items')
        $("#itemsPrice").val("");
        $("#itemsQuantity").val("");
        $("#hours").val("");
        $("#FeePerHour").val("");
        //TODO in a future refresh the categories in the list
        $("#categories").val("");
        $("#categories").prop("title", "Seleccionar categoría")
        $("#services").empty().append("<option value=''>Seleccionar servicio</option>").val('null');
        disableSelect2ById('#services')
        $("#services").prop("disabled", true);
        $("#description").val("");
        $("#expenses").val("");
        $("#expensesQuantity").val("");
        $("#expensesPrice").val("");
        $('#tableData tr').each(function () {
            $(this).remove();
        });
        $("#expenses").prop("title", "Seleccionar gastos")
        $('#expensesTable tfoot tr td:last-child').html("");
        $("#Packages").prop("disabled", true);
        $("#retainers").prop("disabled", true);
        $("#items").prop("disabled", false);
        $("#itemsPrice").prop("disabled", false);
        $("#itemsQuantity").prop("disabled", false);
        $("#packageClose").prop("checked", false);
        $("#packageClose").prop("disabled", true);
    }
</script>

<div class="container-fluid" style="width:100%">
    <form>
        <input type="number" hidden asp-for="@Model.ClientId" id="ClientId" />
        <input type="checkbox" hidden asp-for="@Model.IsEnglish" id="isEnglish" />
        <input type="checkbox" hidden asp-for="@Model.IsClientSelected" id="IsClientSelected" />
        <input type="checkbox" hidden id="IsAdmin" />
        <div id="placeholderSuccess" tabindex="">

        </div>
        <div id="placeholderError">

        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="row rounded" style="margin-top:10px; background-color:white">
                    <div class="offset-1 col-md-10">
                        @*<div class="form-row" style="margin-top:10px">
                            <h4 class="text-center text-secondary">Paso 1</h4>
                        </div>*@
                        @if (User.IsInRole("Administrador"))
                        {
                            <div class="form-row" style="margin-top:10px">

                                <div class="form-group col-md-5">
                                    <label for="attorneys">Abogado:</label>
                                    <select id="attorneys" class="form-control form-control-sm">
                                        @foreach (var a in Model.Attorneys)
                                        {
                                            if (a.UserId == currentUserId)
                                            {
                                                <option value="@a.UserId" selected>@a.AttorneyName</option>

                                            }
                                            else
                                            {
                                                <option value="@a.UserId">@a.AttorneyName</option>

                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="form-row" style="margin-top:10px">
                            <div class="form-group col-md-5">
                                <label for="activityDate">Fecha:*</label>
                                <input type="text" id="activityDate" class="form-control form-control-sm" placeholder="Fecha" aria-label="Fecha del registro" />
                            </div>
                            <div class="form-group offset-md-1  col-md-4">
                                <label for="clientFilter">Búsqueda del cliente:*</label>
                                <input type="text" id="clientFilter" class="form-control form-control-sm" placeholder="Búsqueda del cliente" aria-label="Búsqueda del cliente" />
                            </div>
                            <div class="form-group col-md-1">
                                <label for="clientFilter">Selección:</label>
                                <a href="#" id="seeClient" class="btn btn-primary" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Cliente seleccionado" data-content="">Ver</a>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top:10px" hidden>
                            <div class="form-group col-md-5">
                                <label for="ClientName">Nombre del cliente:</label>
                                <input type="text" readonly asp-for="@Model.ClientName" class="form-control form-control-sm" aria-label="Nombre del cliente" />
                            </div>
                            <div class="form-group offset-md-1  col-md-5">
                                <label for="clientName">Idioma de facturación:</label>
                                <input type="text" readonly id="clientLanguage" value="@(Model.IsClientSelected ? ((Model.IsEnglish) ? "Inglés" : "Español"): "")" class="form-control form-control-sm" aria-label="Idioma de facturación" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rounded" style="margin-top:10px;background-color:white">
                    <div class="offset-1 col-md-10">
                        @*<div class="form-row" style="margin-top:10px">
                            <h4 class="text-center text-secondary">Paso 2</h4>
                        </div>*@
                        <div class="form-row" style="margin-top:10px">
                            <div class="form-group col-md-4">
                                <label for="Packages">Paquetes disponibles:</label>
                                <select class="form-control form-control-sm" id="Packages" disabled></select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="packageClose">¿Cerrar?</label>
                                <input type="checkbox" class="form-control form-control-sm text-left" id="packageClose" disabled/>
                            </div>
                            <div class="form-group offset-md-1 col-md-5">
                                <label for="retainers">Retainers:</label>
                                <select id="retainers" class="form-control form-control-sm" disabled></select>
                            </div>
                        </div>
                       
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="items">Items:</label>
                                <select id="items" class="form-control form-control-sm" disabled>
                                    <option value="" data-price="">Seleccionar Item</option>
                                    @foreach (var i in Model.Items)
                                    {
                                        <option value="@i.Id" data-price="@i.Amount">@i.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group offset-1 col-md-3">
                                <label for="itemsPrice">Precio del ítem (USD): </label>
                                <input type="text" class="form-control form-control-sm" id="itemsPrice" disabled />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="itemsQuantity">Cantidad:</label>
                                <input type="number" class="form-control form-control-sm" id="itemsQuantity" disabled />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="hours">Horas:*</label>
                                <input type="number" class="form-control form-control-sm" id="hours" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="FeePerHour">Precio por hora (USD):</label>
                                <input type="text" asp-for="@Model.FeePerHour" class="form-control form-control-sm" id="FeePerHour" disabled />
                            </div>
                            <div class="form-group offset-md-1 col-md-5">
                                <label for="btnClear">&nbsp;</label><br />
                                <button class="btn btn-primary" id="btnClear" type="button">Limpiar selección</button>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row rounded" style="margin-top:10px; background-color:white">
                    <div class="offset-1 col-md-10">
                        @*<div class="form-row" style="margin-top:10px">
                            <h4 class="text-center text-secondary">Paso 3</h4>
                        </div>*@
                        <div class="form-row" style="margin-top:10px">
                            <div class="form-group col-md-5">
                                <label for="categories">Categoría:*</label>
                                <select id="categories" class="form-control form-control-sm" style="background-color:white">
                                    <option value="">Seleccionar categoría</option>
                                    @foreach (var c in Model.Categories)
                                    {
                                        <option value="@c.Id">@c.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group offset-md-1  col-md-5">
                                <label for="services">Servicios:*</label>
                                <select id="services" class="form-control form-control-sm" disabled></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-11">
                                <label for="description">Descripción:*</label>
                                <textarea id="description" class="form-control form-control-sm" spellcheck="true" lang="es" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rounded" style="margin-top:10px;margin-bottom:10px; background-color:white">
                    <div class="offset-1 col-md-10">
                        @*<div class="form-row" style="margin-top:10px">
            <h4 class="text-center text-secondary">Paso 4</h4>
        </div>*@
                        <div class="form-row" style="margin-top:10px">
                            <div class="form-group col-md-5">
                                <label for="expenses">Gastos:*</label>
                                <select id="expenses" class="form-control form-control-sm">
                                    <option data-amount="" value="">Seleccionar gasto</option>
                                    @foreach (var e in Model.Expenses)
                                    {
                                        <option data-amount="@e.Amount" value="@e.Id">@e.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group offset-md-1  col-md-2">
                                <label for="expensesQuantity">Cantidad:*</label>
                                <input type="number" class="form-control form-control-sm" id="expensesQuantity" disabled />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="expensesPrice">Monto:*</label>
                                <input type="text" class="form-control form-control-sm" id="expensesPrice" disabled />
                            </div>
                            <div class="form-group col-md-1">
                                <button class="btn btn-primary" style="margin-top:30px" id="btnAddExpense" type="button">Agregar</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="clientFilter"><strong>Gastos incluidos:</strong></label>
                                <a href="#" id="seeExpenses" class="btn btn-primary" data-toggle="modal" data-target="#elegantModalForm">Ver</a>
                            </div>

                        </div>
                        <!--Modal begin-->
                        <!-- Modal -->
                        <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <!--Content-->
                                <div class="modal-content form-elegant">
                                    <!--Header-->
                                    <div class="modal-header text-center">
                                        <h3 class="modal-title dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Gastos de la actividad</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body mx-4">
                                        <!--Body-->
                                        <div id="containerTable" class="form-row table-responsive">
                                            <table id="expensesTable" class="table table-stribed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th hidden>ID</th>
                                                        <th>Gasto</th>
                                                        <th>Cantidad</th>
                                                        <th>Monto</th>
                                                        <th>Subtotal</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableData"></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="4" class="text-right">Total (USD):</td>
                                                        <td class="text-right"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <!-- Modal -->
                        @*<div id="containerTable" class="form-row table-responsive">
                            <table id="expensesTable" class="table table-stribed table-bordered">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>
                                        <th>Gasto</th>
                                        <th>Cantidad</th>
                                        <th>Monto</th>
                                        <th>Subtotal</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tableData"></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-right">Total (USD):</td>
                                        <td class="text-right"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>*@
                        <div class="form-row" style="margin-bottom:10px">
                            <div class="form-group col-md-5">
                                <button class="btn btn-primary" id="btnSubmit" type="button">Guardar</button>
                            </div>
                            <a href="#placeholderSuccess" id="goTop" hidden></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#seeClient').popover({
                container: 'body'
            }); 

        });
        
    </script>
</div>
