@model RegisterActivityViewModel
<script type="text/javascript">
    $(function ()
    {
        //Para setear idioma inicial
        //$("#Package_Description").prop("lang", $("#IsEnglish").value ? "en" : "es");
        $("div.container-fluid").css("background-color", "lightgrey");

        $("#clientFilter").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("Search","Client")",
                    type: "GET",
                    data: request,
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        //console.log(data);
                        response($.map(data, function (item) {
                            return {
                                value: item.name,
                                label: item.name,
                                clientName: item.name,
                                clientId: item.id,
                                isEnglish: item.billingInEnglish,
                                feePerHour: item.feePerHour,
                                packages: item.packages
                            }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        alert(err.Message)
                        // console.log("Ajax Error!");
                    }
                });
             },
            minLength: 1,
            select: function (event, ui) {
                //$("#Package_ClientId").val(ui.item.clientId);
                $("#ClientId").val(ui.item.clientId);
                $("#ClientName").val(ui.item.clientName);
                $("#IsEnglish").prop('checked', ui.item.isEnglish);
                $("#IsClientSelected").prop('checked', true);
                $("#FeePerHour").val(ui.item.feePerHour);
                $("#FeePerHour").prop("disabled", false);
                $("#clientLanguage").val(ui.item.isEnglish ? "Inglés" : "Español");
                //var list = ui.item.packages;
                var clientId = ui.item.id;
                $.ajax({
                    url: "@Url.Action("Search","Package")",
                    type: "GET",
                    data: { clientId: ui.item.clientId },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
                        $.each(data, function (i, item) {
                            var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#Packages").append(options);
                        });
                        //console.log(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        alert(err.Message);
                    }
                });
                $.ajax({
                    url: "@Url.Action("GetByClient","RetainerSubscription")",
                    type: "GET",
                    data: { clientId: ui.item.clientId },
                    contentType: "application/json; charset=utf-8",  
                    dataType: "json",
                    success: function (data) {
                        $("#retainers").empty().append("<option value=''>Seleccionar retainer</option>").val('null');
                        $.each(data, function (i, item) {
                            var name = ui.item.isEnglish ? item.retainerType.englishName : item.retainerType.spanishName;
                            var options = "<option value='" + item.id + "'>" + name + "</option>";
                            $("#retainers").append(options);
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        alert(err.Message);
                    }
                });
                $("#clientLanguage").val(ui.item.isEnglish ? "Inglés" : "Español");
                $("#Packages").prop("disabled", false);
                $("#retainers").prop("disabled", false);
                $("#items").prop("disabled", false);
                //$("#Package_Description").prop("lang", ui.item.isEnglish ? "en" : "es");


            }

        });
        $("#Packages").change(function () {
            if ($("#Packages").val() === "") {
                $("#retainers").prop("disabled", false);
                $("#items").prop("disabled", false);
            }
            else {
                $("#retainers").prop("disabled", true);
                $("#items").prop("disabled", true);
            }
        });
        $("#retainers").change(function () {
            if ($("#retainers").val() === "") {
                $("#Packages").prop("disabled", false);
                $("#items").prop("disabled", false);
            }
            else {
                $("#Packages").prop("disabled", true);
                $("#items").prop("disabled", true);
            }
        });
        $("#items").change(function () {
            if ($("#items").val() === "") {
                $("#Packages").prop("disabled", false);
                $("#retainers").prop("disabled", false);
                $("#itemsPrice").prop("disabled", true);
                $("#itemsQuantity").prop("disabled", true);
                $("#itemsPrice").val("");
                $("#itemsQuantity").val("");
            }
            else {
                $("#Packages").prop("disabled", true);
                $("#retainers").prop("disabled", true);
                $("#itemsPrice").prop("disabled", false);
                $("#itemsQuantity").prop("disabled", false);
                var price = $("#items").find(":selected").attr("data-price");
                $("#itemsPrice").val(price);
            }
        });
        $("#categories").change(function () {
            if ($("#categories").val() === "") {
                $("#services").empty();
                $("#description").val("");
                $("#services").prop("disabled", true);
                $("#description").prop("disabled", true);
            }
            else {
                $.ajax({
                    url: "@Url.Action("GetByCategory","Service")",
                    type: "GET",
                    data: { categoryId: $("#categories").val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#services").empty().append("<option value=''>Seleccionar servicio</option>").val('null');
                        $.each(data, function (i, item) {
                            var isEnglish = $("#isEnglish").val();
                            var description = isEnglish ? item.englishDescription : item.spanishDescription;
                            var options = "<option value='" + item.id + "' data-description='" + description + "'>" + item.name + "</option>";
                            $("#services").append(options);
                        });
                        $("#services").prop("disabled", false);
                    }
                });
            }
        });
        $("#services").change(function () {
            if ($("#services").val() === "") {
                $("#description").val("");
                $("#description").prop("disabled", true);
            }
            else {
                var description = $("#services").find(":selected").attr("data-description");
                $("#description").val(description);
                $("#description").prop("disabled", false);
            }
        });
        $("#expenses").change(function () {
            if ($("#expenses").val() === "") {
                $("#expensesQuantity").val("");
                $("#expensesPrice").val("");
                $("#expensesQuantity").prop("disabled", true);
                $("#expensesPrice").prop("disabled", true);
            }
            else {
                var price = $("#expenses").find(":selected").attr("data-amount");
                $("#expensesPrice").val(price);
                $("#expensesPrice").prop("disabled", false);
                $("#expensesQuantity").prop("disabled", false);
            }
        });
        $("#btnAddExpense").click(function () {
            if ($("#expenses").val() !== "") {
                var expense = $("#expenses").find(":selected").text();
                var id = $("#expenses").val();
                var amount = $("#expensesPrice").val();
                var quantity = $("#expensesQuantity").val();
                var row = "<tr><td hidden>" + id + "</td><td>" + expense + "</td><td>" + quantity + "</td><td>" + amount + "</td><td>" + amount * quantity + "</td><td>" +
                    "<a onclick='deleteRow(this)' href='#'><i class='fas fa-trash' data-toggle='tooltip' data-placement='top' title='Borrar'></i></a></td>";
                $("#tableData").append(row);
                $("#expenses").val("");
                $("#expensesPrice").val("");
                $("#expensesQuantity").val("");
                $("#expensesQuantity").prop("disabled", true);
                $("#expensesPrice").prop("disabled", true);
                calculateTotalExpenses();
            }            
        });
        $("#btnSubmit").click(function () {
            var body = {}
            body.ClientId = $("#ClientId").val();
            body.ActivityDate = $("#activityDate").val();
            body.Description = $("#description").val();
            body.ServiceId = $("#services").val();
            body.HoursWorked = $("#hours").val();
            body.HourlyRate = $("#FeePerHour").val();
            if ($("#Packages").val() !== "") {
                body.PackageId = $("#Packages").val();
                body.ActivityType = 2;
            }
            else if ($("#retainers").val() !== "") {
                body.BillableRetainerId = $("#retainers").val();
                body.ActivityType = 3;
            }
            else if ($("#items").val() !== "") {
                body.ItemId = $("#items").val();
                body.ItemUnitPrice = $("#itemsPrice").val();
                body.ItemQuantity = $("#itemsQuantity").val();
                body.ItemSubTotal = body.ItemUnitPrice * body.ItemQuantity;
                body.ActivityType = 4;
            }
            else {
                body.ActivityType = 1;
                body.HourSubtotal = body.HoursWorked * body.HourlyRate;
            }
            var expenses = [];
            $('tbody tr').each(function () {
                var newExpense = {};
                var cells = $(this).find("td");
                newExpense.ExpenseId = cells[0].innerHTML;
                newExpense.Quantity = cells[2].innerHTML;
                newExpense.UnitCost = cells[3].innerHTML;
                newExpense.SubTotal = cells[4].innerHTML;
                expenses.push(newExpense);
            });
            console.log(expenses);
            body.Expenses = expenses;
            $.ajax({
                url: "@Url.Action("New","Activity")",
                type: "POST",
                data: { body: body },
                dataType: "json",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    console.log(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var err = eval("(" + XMLHttpRequest.responseText + ")");
                    alert(err.Message);
                }
            });
        });
        $("#activityDate").change(function () {
            if ($("#IsClientSelected").is(":checked")) {
                var clientId = $("#ClientId").val()
                $.ajax({
                     url: "@Url.Action("Search","Package")",
                    type: "GET",
                    data: { clientId: ui.item.clientId },
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        $("#Packages").empty().append("<option value=''>Seleccionar paquete</option>").val('null');
                        $.each(data, function (i, item) {
                            var options = "<option value='" + item.id + "'>" + item.name + "</option>";
                            $("#Packages").append(options);
                        });
                        //console.log(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        alert(err.Message);
                    }
                });
                $.ajax({
                    url: "@Url.Action("GetByClient","RetainerSubscription")",
                    type: "GET",
                    data: { clientId: clientId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#retainers").empty().append("<option value=''>Seleccionar retainer</option>").val('null');
                        $.each(data, function (i, item) {
                            var name = $("#isEnglish").val() ? item.retainerType.englishName : item.retainerType.spanishName;
                            var options = "<option value='" + item.id + "'>" + name + "</option>";
                            $("#retainers").append(options);
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var err = eval("(" + XMLHttpRequest.responseText + ")");
                        alert(err.Message);
                    }
                });
                $("#Packages").prop("disabled", false);
                $("#retainers").prop("disabled", false);
                $("#items").prop("disabled", false);
            }            
        })

    });
    function deleteRow(button) {
        $(button).closest("tr").remove();
        calculateTotalExpenses();
    }
    function calculateTotalExpenses() {
        //To get the total sum of the <td> that contains each subtotal
        var total = $('tbody tr td:nth-last-child(2)')
            .map(function () { return parseFloat($(this).html()); })
            .get()
            .reduce(function (total, currentValue) { return total + currentValue; });
        //To set the html content of <td> that contains total
        $('tfoot tr td:last-child').html(total);
    }
</script>

<div class="container-fluid" style="width:100%">
    <form>
        <input type="number" hidden asp-for="@Model.ClientId" id="ClientId"/>
        <input type="checkbox" hidden asp-for="@Model.IsEnglish" id="isEnglish" />
        <input type="checkbox" hidden asp-for="@Model.IsClientSelected" id="IsClientSelected"/>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="row bg-light rounded" style="margin-top:20px">
                    <div class="offset-1 col-md-10">
                        <div class="form-row" style="margin-top:20px">
                            <h4 class="text-center text-secondary">Paso 1</h4>
                        </div>
                        <div class="form-row" style="margin-top:20px">
                            <div class="form-group col-md-5">
                                <label for="activityDate">Fecha:*</label>
                                <input type="text" id="activityDate" class="form-control" placeholder="Fecha" aria-label="Fecha del registro" />
                            </div>
                            <div class="form-group col-md-5">
                                <label for="clientFilter">Búsqueda del cliente:*</label>
                                <input type="text" id="clientFilter" class="form-control" placeholder="Búsqueda del cliente" aria-label="Búsqueda del cliente" />
                            </div>
                        </div>
                        <div class="form-row" style="margin-top:20px">
                            <div class="form-group col-md-5">
                                <label for="ClientName">Nombre del cliente</label>
                                <input type="text" readonly asp-for="@Model.ClientName" class="form-control" aria-label="Nombre del cliente" />
                            </div>
                            <div class="form-group col-md-5">
                                <label for="clientName">Idioma de facturación:</label>
                                <input type="text" readonly id="clientLanguage" value="@(Model.IsClientSelected ? ((Model.IsEnglish) ? "Inglés" : "Español"): "")" class="form-control" aria-label="Idioma de facturación" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light rounded" style="margin-top:20px">
                    <div class="offset-1 col-md-10">
                        <div class="form-row" style="margin-top:20px">
                            <h4 class="text-center text-secondary">Paso 2</h4>
                        </div>
                        <div class="form-row" style="margin-top:20px">
                            <div class="form-group col-md-5">
                                <label for="Packages">Paquetes disponibles:</label>
                                <select class="form-control" id="Packages" disabled>
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="retainers">Retainers:</label>
                                <select id="retainers" class="form-control" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="items">Items:</label>
                                <select id="items" class="form-control" disabled>
                                    <option value="" data-price="">Seleccionar Item</option>
                                    @foreach (var i in Model.Items)
                                    {
                                        <option value="@i.Id" data-price="@i.Amount">@i.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="itemsPrice">Precio: </label>
                                <input type="text" class="form-control" id="itemsPrice" disabled />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="itemsQuantity">Cantidad:</label>
                                <input type="number" class="form-control" id="itemsQuantity" disabled/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="hours">Horas:</label>
                                <input type="number" class="form-control" id="hours" />
                            </div>
                            <div class="form-group col-md-5">
                                <label for="FeePerHour">Precio por hora:</label>
                                <input type="text" asp-for="@Model.FeePerHour" class="form-control" id="FeePerHour" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light rounded" style="margin-top:20px">
                    <div class="offset-1 col-md-10">
                        <div class="form-row" style="margin-top:20px">
                            <h4 class="text-center text-secondary">Paso 3</h4>
                        </div>
                        <div class="form-row" style="margin-top:20px">
                            <div class="form-group col-md-5">
                                <label for="categories">Categoría:</label>
                                <select id="categories" class="form-control">
                                    <option value="">Seleccionar Categoría</option>
                                    @foreach (var c in Model.Categories)
                                    {
                                        <option value="@c.Id">@c.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="services">Servicios:</label>
                                <select id="services" class="form-control" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <label for="description">Descripción:</label>
                                <textarea id="description" class="form-control" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light rounded" style="margin-top:20px;margin-bottom:20px;">
                    <div class="offset-1 col-md-10">
                        <div class="form-row" style="margin-top:20px">
                            <h4 class="text-center text-secondary">Paso 4</h4>
                        </div>
                        <div class="form-row" style="margin-top:20px">
                            <div class="form-group col-md-5">
                                <label for="expenses">Gastos:</label>
                                <select id="expenses" class="form-control">
                                    <option data-amount="" value="">Seleccionar gasto</option>
                                    @foreach (var e in Model.Expenses)
                                    {
                                        <option data-amount="@e.Amount" value="@e.Id">@e.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="expensesQuantity">Cantidad:</label>
                                <input type="number" class="form-control" id="expensesQuantity" disabled/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="expensesPrice">Monto:</label>
                                <input type="text" class="form-control" id="expensesPrice" disabled/>
                            </div>
                            <div class="form-group col-md-5 offset-md-1">
                                <button class="btn btn-primary" style="margin-top:30px" id="btnAddExpense" type="button">Agregar</button>
                            </div>
                        </div>
                        <div class="form-row table-responsive">
                            <table class="table table-stribed table-bordered">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>
                                        <th>Gasto</th>
                                        <th>Cantidad</th>
                                        <th>Monto</th>
                                        <th>Subtotal</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tableData">

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-right">Total:</td>
                                        <td class="text-right">

                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="form-row" style="margin-bottom:20px">
                            <div class="form-group col-md-5">
                                <button class="btn btn-primary" id="btnSubmit" type="button">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
