@model VacationsRequestListViewModel
@{
    ViewData["Title"] = "Administrar solicitudes de vacaciones";
}
<script type="text/javascript">
    $(function () {
        $('input[type=radio]').change(function () {
            $('#requestAdminForm').submit();

        });
    });
</script>
<h2>Administración de solicitudes de vacaciones</h2>
<form id="requestAdminForm" asp-action="Admin" asp-controller="VacationsRequest" method="get">

    <label>Filtro de búsqueda:</label>
    <div class="row">
        <div class="btn-group btn-group-toggle col-md-6" data-toggle="buttons">
            @if (Model.CurrentFilter == null)
            {
                <label class="btn btn-info active">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="" autocomplete="off" checked /> Pendientes
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="true" autocomplete="off" /> Aprobadas
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="false" autocomplete="off" /> Rechazadas
                </label>
            }
            else if (Model.CurrentFilter == true)
            {
                <label class="btn btn-info">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="" autocomplete="off" /> Pendientes
                </label>
                <label class="btn btn-info active">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="true" autocomplete="off" checked /> Aprobadas
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="false" autocomplete="off" /> Rechazadas
                </label>
            }
            else if (Model.CurrentFilter == false)
            {
                <label class="btn btn-info">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="" autocomplete="off" /> Pendientes
                </label>
                <label class="btn btn-info">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="true" autocomplete="off" /> Aprobadas
                </label>
                <label class="btn btn-info active">
                    <input type="radio" name="filter" class="form-control" asp-for="@Model.CurrentFilter" value="false" autocomplete="off" checked /> Rechazadas
                </label>
            }

        </div>
    </div>
    <br />
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="filterText" value="@Model.CurrentFilterText" placeholder="Nombre del abogado, razón o fecha de inicio" aria-label="Nombre del abogado, razón o fecha de inicio" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="submit" id="button-addon2">Buscar</button>
        </div>
    </div>
    <br />
    @if ((ViewBag.Answered ?? false) && (bool)ViewBag.Approved)
    {
        <div class="alert alert-success alert-dismissible fade show">
            Solicitud de vacaciones aprobada exitosamente!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }
    else if ((ViewBag.Answered ?? false) && !(bool)ViewBag.Approved)
    {
        <div class="alert alert-success alert-dismissible fade show">
            Solicitud de vacaciones rechazada exitosamente!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    }
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre del abogado</th>
                    <th>Razón de la solicitud</th>
                    <th>Cantidad solicitada</th>
                    <th>Fecha de inicio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vacation in Model.VacationsRequests)
                {
                    <tr>
                        <td>@vacation.Attorney.Name</td>
                        <td>@vacation.Reason</td>
                        <td>@vacation.Quantity</td>
                        <td>@vacation.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (vacation.IsApproved == null)
                            {
                                <a asp-action="Edit" asp-controller="VacationsRequest" asp-route-id="@vacation.VacationsRequestId"><i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Responder"></i></a>
                            }
                            else
                            {
                                <p>Ninguna</p>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div page-model="@Model.PagingInfo" page-action="Admin" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-info"
         page-class-selected="btn-info" page-url-filter="@Model.CurrentFilter"
         page-url-filterText="@Model.CurrentFilterText"
         page-number-url-key="pageNumber"
         class="btn-group float-right m-1">

    </div>
</form>