@model NewVacationsRequestViewModel
@{
    ViewData["Title"] = "Agregar nueva solicitud de vacaciones";
}
<script type="text/javascript">
    $(function() {
        $("#VacationsRequest_StartDate").datepicker();
        $("#VacationsRequest_StartDate").datepicker("option", "dateFormat", "dd/mm/yy");
        $("#VacationsRequest_StartDate").datepicker("option", {
            minDate: new Date()
        });

    });
</script>
<h4>Agregar nueva solicitud de vacaciones</h4>
<br />
@if (ViewBag.AddedRequest ?? false)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Solicitud registrada exitosamente!</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.DaysInvalid ?? false)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>Los días ingresados para solicitar vacaciones, son mayores a los que tiene disponibles!</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form asp-action="New" asp-controller="VacationsRequest" method="post">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="alert alert-danger alert-dismissible fade show">
            @Html.ValidationSummary(false, "Errores de validación:")
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="@Model.DaysAvailable">Días disponibles:</label>
            <input type="text" asp-for="@Model.DaysAvailable" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="@Model.VacationsRequest.Quantity">Cantidad de días a solicitar:*</label>
            <input type="number" step="0.001" asp-for="@Model.VacationsRequest.Quantity" class="form-control" required />
        </div>
        <div class="form-group col-md-5">
            <label for="@Model.VacationsRequest.Reason">Razón de la solicitud:*</label>
            <input type="text" asp-for="@Model.VacationsRequest.Reason" class="form-control" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="@Model.VacationsRequest.StartDate">Fecha de inicio:*</label>
            <input type="text" autocomplete="off" value="@(Model.VacationsRequest.StartDate == DateTime.MinValue? DateTime.Now.ToString("dd/MM/yyyy") : Model.VacationsRequest.StartDate.ToString("dd/MM/yyyy"))" asp-for="@Model.VacationsRequest.StartDate" class="form-control" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <button type="submit" class="btn btn-primary">Solicitar</button>
        </div>
    </div>

</form>